.ept-quote-company .ept-container .company_img {
  margin: 0 auto;
  margin-bottom: 32px;
}
.ept-quote-company .ept-container .company_img .field--name-field-ept-quote-image img {
  margin: 0 auto;
  width: 107px;
  height: auto;
}
.ept-quote-company .ept-container .company_text {
  margin: 0 auto;
  padding: 0 20px;
}
.ept-quote-company .ept-container .company_text .field--type-text-with-summary {
  font-size: 20px;
  color: #000;
  font-family: "Ubuntu", "Open Sans", helvetica, arial, verdana, sans-serif;
  margin-bottom: 40px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .ept-quote-company .ept-container .company_text .field--type-text-with-summary {
    font-size: 28px;
    line-height: 40px;
  }
}
@media (min-width: 1221px) {
  .ept-quote-company .ept-container .company_text .field--type-text-with-summary {
    margin-bottom: 56px;
  }
}
.ept-quote-company .ept-container .company_text .field--name-field-ept-quote-author {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-align: center;
  font-family: "Open Sans", helvetica, arial, verdana, sans-serif;
}
@media (min-width: 1221px) {
  .ept-quote-company .ept-container .company_text .field--name-field-ept-quote-author {
    font-size: 16px;
    line-height: 24px;
  }
}
