@charset "UTF-8";
.ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text {
  display: flex;
  flex-direction: column-reverse;
  border-right: 5px solid #1785b5;
  width: 100%;
}
@media (min-width: 600px) {
  .ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text {
    width: 55%;
  }
}
.ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .field--type-text-with-summary {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: "Times", serif;
  color: #1785b5;
  margin: 0 auto 30px;
}
@media (min-width: 768px) {
  .ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .field--type-text-with-summary {
    font-size: 30px;
  }
}
.ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .field--type-text-with-summary p {
  padding: 0 10px 0 30px;
}
.ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .field--type-text-with-summary::before {
  content: "\201c";
  font-size: 60px;
  position: absolute;
}
.ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .persona_with_small_icon_img_author {
  display: flex;
  padding: 0 30px;
}
.ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .persona_with_small_icon_img_author .field--name-field-ept-quote-image {
  margin-right: 30px;
}
.ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .persona_with_small_icon_img_author .field--name-field-ept-quote-image img {
  width: 65px;
  height: auto;
}
@media (min-width: 768px) {
  .ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .persona_with_small_icon_img_author .field--name-field-ept-quote-image img {
    width: 90px;
  }
}
.ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .persona_with_small_icon_img_author .field--name-field-ept-quote-author {
  font-size: 15px;
  font-family: "Times", serif;
  color: #333;
}
@media (min-width: 768px) {
  .ept-quote-persona_with_small_icon .ept-container .persona_with_small_icon_text .persona_with_small_icon_img_author .field--name-field-ept-quote-author {
    font-size: 18px;
  }
}
