services:
  plugin.manager.config_provider.processor:
    class: Drupal\config_provider\Plugin\ConfigProviderManager
    parent: default_plugin_manager

  config_provider.storage:
    class: Drupal\Core\Config\MemoryStorage

  config_provider.collector:
    class: Drupal\config_provider\Plugin\ConfigCollector
    arguments:
      - '@config.factory'
      - '@config.storage'
      - '@config.manager'
      - '@config_provider.storage'
      - '@plugin.manager.config_provider.processor'
      - '%install_profile%'
      - '@extension.path.resolver'

  # Decorates the core config.installer service.
  config_provider.config.installer:
    class: Drupal\config_provider\ConfigProviderConfigInstaller
    decorates: config.installer
    arguments:
      - '@config.factory'
      - '@config.storage'
      - '@config.typed'
      - '@config.manager'
      - '@event_dispatcher'
      - '%install_profile%'
      - '@extension.path.resolver'
      - '@config_provider.collector'
