<div class="permalink form-item">
  <input class="text-link" type="text" name="shortlink" value="{{ link }}" readonly="">
  <span class="copy-link" tooltip="{{ 'Copy to clipboard'|t }}"></span>
</div>