.spotify {
  display: none;
  position: relative;
  z-index: 10;
}

.spotify.loaded {
  display: block;
}

.spotify__progress {
  --animation-width: 0%;
  --animation-length: 60s;
  --animation-state: "running";
  width: 100%;
  height: 4px;
  background-color: #ccc;
  border-radius: 2px;
  position: relative;
}

.spotify__progress:before {
  content: '';
  width: var(--animation-width, 0%);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #666;
  z-index: 10;
  border-radius: 2px;
  animation-duration: var(--animation-length);
  animation-name: spotify-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: var(--animation-state, "running");
}

.paused .spotify__progress {
  display: none;
}

@keyframes spotify-progress {
  from {
    width: var(--animation-width, 0%);
  }
  to {
    width: 100%;
  }
}

.spotify__art + .spotify__song {
  margin-top: 1em;
}

.spotify__player {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.spotify__title {
  font-size: 1.2em;
  margin: 1em 0;
}
