<ul>
<li>Introduction</li>
<li>Requirements</li>
<li>Configuration</li>
<li>Maintainers</li>
</ul>
<h4 id="introduction">INTRODUCTION</h4>
<p>Izi Message is a very simple module that provides Drupal messages.
Elegant, responsive, flexible and light messaging module with library
<a href="http://izitoast.marcelodolza.com">izitoast.marcelodolza.com</a></p>

<h4 id="configuration">CONFIGURATION</h4>
<pre><code><span class="hljs-number">1</span> Navigate <span class="hljs-keyword">to</span> Administration &gt; Configuration &gt; Development &gt;
  Izi <span class="hljs-keyword">message</span> settings <span class="hljs-keyword">for</span> configurations. Save Configurations.
</code></pre>

<h4 id="requirements">REQUIREMENTS</h4>
<p>This module requires no modules outside of Drupal core,
but require next js library:</p>
<ul>
<li><a href="http://izitoast.marcelodolza.com">iziToast</a></li>
</ul>
<h4 id="maintainers">MAINTAINERS</h4>
<ul>
<li>UsingSession (<a href="https://www.drupal.org/u/usingsession">https://www.drupal.org/u/usingsession</a>)</li>
</ul>
