/**
 * @file
 * Module Matrix Filter.
 *
 * Filename:     module-matrix-filter.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */

form#system-modules .intro-message-class,
form#system-modules .module-matrix-filters {
  font-family: inherit;
  color: inherit;
  padding: 16px;
  margin: 0;
}

form#system-modules .module-matrix-filters {
  display: flex;
}

form#system-modules .module-matrix-filters .reset-button {
  align-self: flex-end;
  margin-left: auto!important;
}


form#system-modules .module-matrix-filters fieldset.form-checkboxes {
  background: transparent;
  border-radius: 0;
}

form#system-modules .module-matrix-filters label {
  font-weight: normal;
}

form#system-modules .module-matrix-filters > .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

form#system-modules .module-matrix-filters > .fieldset-wrapper > * {
  margin: 0;
}

form#system-modules .module-matrix-filters > .fieldset-wrapper >:first-child {
  width: 100%;
  display: grid;
  flex-grow: 1;
}

form#system-modules .module-matrix-filters > .fieldset-wrapper >:first-child label {
  display: none;
  height: 0;
  width: 0;
}

form#system-modules .module-matrix-filters fieldset.form-checkboxes {
  border: 0 !important;
  padding: 0;
  margin: 0;
}

form#system-modules .module-matrix-filters fieldset.form-checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

form#system-modules .module-matrix-filters fieldset.form-checkboxes legend {
  padding: 4px 0;
  display: inline-block;
  margin-bottom: 8px;
  font-size: 1rem;
  text-align: left;
  color: inherit;
  font-weight: normal;
}

form#system-modules .module-matrix-filters fieldset.form-checkboxes legend span {
  margin-right: 16px;
  margin-bottom: 12px;
}

form#system-modules .module-matrix-filters input[type="text"] {
  max-height: 60px;
}

form#system-modules input[type="submit"] {
  max-height: 48px;
}
