/**
 * @file
 * Module Matrix Details.
 *
 * Filename:     module-matrix-details.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
.name-package,
.module-matrix-item-details {
  border: 1px solid #ddd;
  border-radius: 6px;
}

.admin-requirements,
form#system-modules .module-matrix-list-inner a {
  background: none !important;
  padding: 0;
}

form#system-modules .admin-requirements * {
  background: none !important;
  color: inherit;
}

form#system-modules .module-matrix-list .module-matrix-item-details {
  font-size: 0.875rem;
  line-height: 1.4;
  overflow: hidden;
}

form#system-modules .module-matrix-list .admin-requirements,
form#system-modules .module-matrix-list .description-only {
  font-size: 0.875rem;
  line-height: 1.4;
}

form#system-modules .module-matrix-list .admin-requirements {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 2px;
}

form#system-modules .right .matrix-details-content,
form#system-modules .right .module-matrix-list .admin-requirements {
  justify-content: end;
  flex-direction: row-reverse;
}

form#system-modules .module-matrix-list .admin-requirements .material-icons {
  line-height: 1;
  min-width: 26px;
}

form#system-modules .module-matrix-list .admin-requirements .details-option {
  white-space: wrap;
  line-height: 1.8;
  font-size: 0.875rem;
}

form#system-modules .module-matrix-list .name-package,
form#system-modules .module-matrix-list .description-only,
form#system-modules .module-matrix-list .matrix-details-header,
form#system-modules .module-matrix-list .module-matrix-item-details.count-1 {
  padding: 12px;
}

form#system-modules .module-matrix-list .compact-top,
form#system-modules .module-matrix-list .name-package:not(.compact .name-package) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 12px;
}

form#system-modules .module-matrix-wrapper.right a.name,
form#system-modules .module-matrix-wrapper.right .compact-top {
  display: flex;
  flex-direction: row-reverse;
}

form#system-modules .module-matrix-wrapper.grid-layout .module-matrix-list .name-package:not(.compact .name-package) {
  align-items: center;
}

form#system-modules .module-matrix-list .compact-top > *,
form#system-modules .module-matrix-list .name-package > *:not(.compact .name-package > *) {
  display: flex;
  align-items: center;
}

form#system-modules .module-matrix-list .name-package:not(.compact .name-package) {
  flex-direction: row;
  flex-wrap: nowrap;
}

form#system-modules .module-matrix-wrapper.right .name-package:not(.compact .name-package) {
  flex-direction: row-reverse;
}

form#system-modules .compact .module-matrix-list .name-package {
  flex-direction: row;
}

form#system-modules .module-matrix-list .name-package .checkbox {
  line-height: 1.6;
}

form#system-modules .module-matrix-list .name-package .name .material-icons {
  font-size: 1rem;
  line-height: 1;
  margin: 0;
}

form#system-modules .compact .module-matrix-list .compact-bottom {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  line-height: 1.4;
  margin-top: 12px;
  gap: 8px;
}

form#system-modules .compact .module-matrix-list .compact-bottom > * {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 4px;
}

form#system-modules .module-matrix-list .module-matrix-item-details .matrix-details-content {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  font-size: 0.875rem;
  line-height: 1.4;
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 0;
  transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

form#system-modules .module-matrix-list .matrix-details-content > * {
  padding: 0 12px;
}

form#system-modules .module-matrix-list .matrix-details-content > *:not(.grid-layout .matrix-details-content > *) {
  margin-bottom: 12px;
}

form#system-modules .module-matrix-list .name-package .package {
  font-size: 0.875rem;
  line-height: 1.4;
  margin-left: auto;
}

form#system-modules .module-matrix-wrapper.right .name-package .package {
  margin-left: 0;
  margin-right: auto;
}

form#system-modules .module-matrix-list .name-package .name {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: normal;
}

form#system-modules .module-matrix-list .name-package a.name {
  text-decoration: underline;
  text-underline-offset: 2px;
}

form#system-modules .module-matrix-list .name-package .state-indicator {
  margin-right: 5px;
  font-weight: bold;
  color: inherit;
}

form#system-modules .module-matrix-list .name-package .checkbox .form-item {
  margin: 0;
}

form#system-modules .matrix-details-content {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

form#system-modules .module-matrix-item-description {
  font-size: 0.875rem;
  line-height: 1.4;
}

form#system-modules .module-matrix-wrapper.grid-layout .module-matrix-list-inner:not(.module-matrix-wrapper.compact .module-matrix-list-inner) {
  gap: 12px;
}

form#system-modules .module-matrix-list .module-matrix-item-details .matrix-details-header {
  font-size: 0.875rem;
  line-height: 1.4;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
  flex-direction: row;
  transition: background 0.3s ease;
}

form#system-modules .module-matrix-list .module-matrix-item-details .matrix-details-header-icon {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 14px;
  margin-top: 4px;
}

form#system-modules .module-matrix-wrapper.right .module-matrix-list .matrix-details-header {
  flex-direction: row-reverse;
  text-align: right;
}

form#system-modules .module-matrix-list .module-matrix-item-details .matrix-details-content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 0;
  transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

form#system-modules .module-matrix-list .module-matrix-item-details.open .matrix-details-content {
  opacity: 1 !important;
}

form#system-modules .module-matrix-list .module-matrix-item-details.open .matrix-details-header-icon {
  transform: rotate(180deg) !important;
}

form#system-modules .module-matrix-list .module-matrix-item-details.count-1 {
  cursor: default;
}
