/**
 * @file
 * Module Matrix Main.
 *
 * Filename:     module-matrix-main.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
form#system-modules,
form#system-modules * {
  box-sizing: border-box;
}

.block-system::after,
.block-system::before,
.block-system .solo-clear::after,
.block-system .solo-clear::before {
  content: none !important;
  display: none !important;
}

form#system-modules .intro-message-class {
  display: flex;
  width: 100%;
  justify-content: start;
  margin: 0;
  padding: 0;
  max-height: 58px;
}

form#system-modules .intro-message-class * {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.4;
  text-decoration: none;
}

form#system-modules .intro-message-class .material-icons {
  font-size: 1.5rem;
}

form#system-modules .module-matrix-filters {
  margin: 0;
}

form#system-modules .material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

form#system-modules .module-matrix-list,
form#system-modules .module-matrix-sidebar {
  border-radius: 5px;
  padding: 16px;
}

.module-matrix-list,
.module-matrix-sidebar {
  border: 1px solid #ddd;
}

form#system-modules .name-package a.name .material-icons {
  opacity: 0.7;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

form#system-modules .matrix-animate-combined {
  animation: fadeSlideUp 0.25s ease-out;
}
