/**
 * @file
 * Module Matrix Inner.
 *
 * Filename:     module-matrix-inner.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
form#system-modules  .module-matrix-list-inner {
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease, box-shadow 0.3s ease, border-color 0.3s ease, padding 0.5s ease, color 0.5s ease;
}

form#system-modules  .module-matrix-list-inner.hidden {
  display: none !important;
  opacity: 0;
  transform: translateY(10px);
}

/* Never update it, it will break the filter */
.module-matrix-list-inner {
  flex-direction: column;
  display: flex;
}

form#system-modules .module-matrix-list-inner:not(.module-matrix-wrapper.grid-layout .module-matrix-list-inner) {
  padding-top: 2px;
  padding-bottom: 2px;
  gap: 12px;
}

@media (min-width:992px) {
  form#system-modules .module-matrix-list-inner:not(.module-matrix-wrapper.grid-layout .module-matrix-list-inner) {
    flex-direction: row;
    align-items: center;
  }

  form#system-modules .module-matrix-wrapper.right .module-matrix-list-inner .name-package:not(.module-matrix-wrapper.grid-layout .name-package),
  form#system-modules .module-matrix-wrapper.right .module-matrix-list-inner:not(.module-matrix-wrapper.grid-layout .module-matrix-list-inner) {
    flex-direction: row-reverse;
  }

  form#system-modules .module-matrix-list-inner .name-package:not(.module-matrix-wrapper.grid-layout .name-package) {
    flex: 0 0 42%;
    max-width: 42%;
  }

  form#system-modules .module-matrix-list-inner .module-matrix-item-details:not(.module-matrix-wrapper.grid-layout .module-matrix-item-details) {
    flex: 1 1 auto;
    flex-grow: 1;
  }

}

@media (min-width:1200px) {
  form#system-modules .module-matrix-list-inner .name-package:not(.module-matrix-wrapper.grid-layout .name-package) {
    flex: 0 0 40%;
    max-width: 40%;
  }

}

@media (min-width:1400px) {
  form#system-modules .module-matrix-list-inner .name-package:not(.module-matrix-wrapper.grid-layout .name-package) {
    flex: 0 0 38%;
    max-width: 38%;
  }

}
