#navbar {
  .block-system-branding-block {
    float: left;
    height: 90px;
    margin: 0;

    @media (max-width: $screen-xs-max) {
      & {
        a {
          .title {
            display: none;
          }
        }
      }
    }

    a.logo {
      display: inline-block;
      display: flex;
      align-items: center;
      height: 90px;
      padding: 0 20px;
      text-decoration: none;

      .image {
        display: block;
        padding-right: 13px;

        img {
          width: auto;
          height: 61px;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .site-name {
          display: block;
          color: var(--primary-dark);
          font-family: 'Geologica', sans-serif;
          font-size: 28px;
          font-weight: 600;
        }

        .site-slogan {
          position: relative;
          top: -5px;
          display: block;
          color: var(--primary-dark);
          font-family: 'Geologica', sans-serif;
          font-size: 15px;
          font-weight: 100;
        }
      }
    }
  }
}
