.ept-paragraph-cta__content {
  display: flex;
  gap: 20px;
}
.ept-paragraph-cta__content .field--name-field-ept-cta-title {
  flex-direction: column;
}
.ept-paragraph-cta__content .column-1,
.ept-paragraph-cta__content .column-2 {
  width: 50%;
}
.ept-paragraph-cta__content .column-2 .field--name-field-ept-cta-title h2,
.ept-paragraph-cta__content .column-2 .field--name-field-ept-cta-title h3,
.ept-paragraph-cta__content .column-2 .field--name-field-ept-cta-title h4,
.ept-paragraph-cta__content .column-2 .field--name-field-ept-cta-title h5 {
  margin-top: 0;
}

.two_columns_fluid .ept-paragraph-cta__content .column-1 {
  position: relative;
}
.two_columns_fluid .ept-paragraph-cta__content .column-1 .field--name-field-ept-cta-column-image {
  width: 50vw;
  position: absolute;
  right: 0;
  height: 100%;
}
.two_columns_fluid .ept-paragraph-cta__content .column-1 .field--name-field-ept-cta-column-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.ept-paragraph-cta__content .cta-button-wrapper {
  display: inline-flex;
  gap: 20px;
}

.image-position-right.two_columns_fluid .ept-paragraph-cta__content .column-1 .field--name-field-ept-cta-column-image {
  right: inherit;
  left: 0;
}

.one_column .ept-paragraph-cta__content {
  flex-direction: column;
}

.align-content-center.ept-cta {
  text-align: center;
}
.align-content-center.ept-cta h2,
.align-content-center.ept-cta .field--name-field-ept-cta-column-image,
.align-content-center.ept-cta .cta-button-wrapper,
.align-content-center.ept-cta .field--name-field-ept-cta-title {
  text-align: center;
}

.align-content-right.ept-cta {
  text-align: right;
}
.align-content-right.ept-cta h2,
.align-content-right.ept-cta .field--name-field-ept-cta-column-image,
.align-content-right.ept-cta .cta-button-wrapper,
.align-content-right.ept-cta .field--name-field-ept-cta-title {
  text-align: right;
}