<nav {{ attributes.addClass(['local-tasks-floating-block','text-center', 'fixed']).setAttribute('role', 'navigation').setAttribute('aria-label', 'Tabs'|t) }}>
  {% block content %}
    {{ content }}
  {% endblock content %}
</nav>
