{% set attributes = attributes ?: create_attribute() %}

<div {{ attributes.addClass('steps')}}>
  {% block steps %}
    {% for step_item in steps %}
      {% embed 'artisan:step' with {
        value: stat_item.value,
        attributes: stat_item.attributes ?? create_attribute(),
      } only %}
      {% endembed %}
    {% endfor %}
  {% endblock %}
</div>
