.ept-quote-persona_with_small_icon{
  .ept-container {
    .persona_with_small_icon_text {
      display: flex;
      flex-direction: column-reverse;
      border-right: 5px solid #1785b5;
      width: 100%;
      @media(min-width:600px) {
        width: 55%;
      }
      .field--type-text-with-summary {
        font-size: 1.5em;
        line-height: 1.5em;
        font-family: 'Times', serif;
        color: #1785b5;
        margin: 0 auto 30px;
        @media(min-width:768px) {
          font-size: 30px;
        }
        p {
          padding: 0 10px 0 30px;
        }
        &::before {
          content: '\201c';
          font-size: 60px;
          position: absolute;
        }
      }
      .persona_with_small_icon_img_author {
        display: flex;
        padding: 0 30px;
        .field--name-field-ept-quote-image {
          margin-right: 30px;
          img {
            width: 65px;
            height: auto;
            @media(min-width: 768px) {
              width: 90px;
            }
          }
        }
        .field--name-field-ept-quote-author {
          font-size: 15px;
          font-family: 'Times', serif;
          color: #333;
          @media(min-width: 768px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
