.ept-quote-persona {
  .ept-container {
    .persona_img {
      .field--name-field-ept-quote-image {
        img {
          border-radius: 50%;
          @media(min-width: 1221px) {
            width: 538px;
          }
        }
      }
    }
    .persona_text {
      background: #f5f5f5;
      color: #000;
      border-left: 3px solid #ba0c2f;
      line-height: 24px;
      padding: 32px;
      margin-bottom: 20px;
      color: #000;
      position: relative;
      z-index: 10;
      top: -20px;
      @media(min-width:1221px) {
        margin-bottom: 0;
        width: 517px;
        padding: 35px;
        margin-top: -132px;
        left: 220px;
        bottom: 0;
      }
      .field--type-text-with-summary {
        margin-bottom: 16px;
        line-height: 1.5rem;
        @media(min-width:1221px) {
          margin-bottom: 24px;
        }
        p {
          font-family: "Open Sans",helvetica,arial,verdana,sans-serif;
          font-weight: 400;
          font-size: 16px;
          font-style: normal;
          color: #000;

        }
      }
      .field--name-field-ept-quote-author {
        line-height: 24px;
        font-size: 16px;
        font-style: normal;
        font-family: "Open Sans",helvetica,arial,verdana,sans-serif;
        color: #000;
        padding-right: 8px;
        font-weight: 600;
      }
    }
  }
}
