.ept-timeline-wrapper {
  position: relative;
}

.ept-timeline-wrapper::before {
  content: '';
  background: #ccc;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ept-timeline-wrapper .timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.ept-timeline-wrapper .timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 0;
}

.ept-timeline-wrapper .timeline-item .timeline-content .timeline-body {
  padding: 10px 30px;
}

.ept-timeline-wrapper .timeline-item:nth-child(even) .timeline-content .timeline-date {
  right: auto;
  left: 0;
}

.ept-timeline-wrapper .timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.ept-timeline-wrapper .timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.ept-timeline-wrapper .timeline-content {
  position: relative;
  width: calc(50% - 40px);
  border-radius: 4px;
  background: #f2f2f2;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.ept-timeline-wrapper .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f2f2f2;
}

.ept-timeline-wrapper .timeline-img {
  width: 30px;
  height: 30px;
  background: #888;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.ept-timeline-wrapper .timeline-current .timeline-img {
  background: #0071b3;
}

.ept-timeline-wrapper a {
  background: #3f51b5;
  color: #fff;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
}

.timeline-item .timeline-img-header {
  background-size: cover;
}

.ept-timeline-wrapper .timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.ept-timeline-wrapper .timeline-content h3 {
  margin-top: 30px;
  font-weight: 700;
}

.ept-timeline-wrapper .timeline-img-header h3 {
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.ept-timeline-wrapper .timeline-date {
  background: #0071b3;
  display: inline-block;
  color: #ffffff;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .ept-timeline-wrapper::before {
    left: 30px;
  }

  .ept-timeline-wrapper .timeline-img {
    left: 30px;
  }

  .ept-timeline-wrapper .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .ept-timeline-wrapper .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .ept-timeline-wrapper .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f2f2f2 transparent transparent;
  }
}
