@media (min-width: theme(--breakpoint-lg)) {
  details.dropdown {
    > ul::after {
      content: "";
      display: block;
      height: 32px;
      left: 0;
      position: absolute;
      top: -32px;
      width: 100%;
    }
  }
}

.navbar {
  .navbar-center {
    display: none;
    @media (min-width: theme(--breakpoint-lg)) {
      display: flex;
    }
  }
}
