@import "tailwindcss" source(none);
@import "./_base.css";
@import "./_utilities.css";
@import "./_admin.css";
@import "./_helpers.css";
@source "../index.html";
@source "../src";
@source "../templates";
@source "../components";
@plugin "@tailwindcss/typography";

/* @see https://tailwindcss.com/docs/theme#default-theme-variable-reference */
@theme static {
  --theme-font-family: var(--font-sans);
  --theme-font-family-secondary: var(--font-serif);

  --theme-font-size: var(--text-base);
  --theme-font-size-sm: calc(var(--theme-font-size) * .8);
  --theme-font-size-lg:calc(var(--theme-font-size) * 1.125);

  --theme-h1-font-size: calc(var(--theme-font-size) * 3);
  --theme-h2-font-size: calc(var(--theme-font-size) * 2.5);
  --theme-h3-font-size: calc(var(--theme-font-size) * 2);
  --theme-h4-font-size: calc(var(--theme-font-size) * 1.5);
  --theme-h5-font-size: calc(var(--theme-font-size) * 1.25);
  --theme-h6-font-size: calc(var(--theme-font-size));

  --theme-line-height-sm: var(--text-3xl--line-height);
  --theme-line-height: var(--text-base--line-height);
  --theme-line-height-lg: 1.8;

  --theme-font-weight-thin: var(--font-weight-thin);
  --theme-font-weight-light: var(--font-weight-light);
  --theme-font-weight-normal: var(--font-weight-normal);
  --theme-font-weight-bold: var(--font-weight-bold);
  --theme-font-weight-bolder: var(--font-weight-extrabold);

  --theme-radius: var(--radius-lg);

  --theme-shadow-color-rgb: 0 0 0;
  --theme-shadow: 0 10px 15px -3px rgb(var(--theme-shadow-color-rgb) / 0.1), 0 4px 6px -4px rgb(var(--theme-shadow-color-rgb) / 0.1);

  --theme-spacing: var(--spacing);
  --theme-gap: calc(var(--theme-spacing) * 8);
  --theme-container-padding-x:calc(var(--theme-spacing) * 4);

  --theme-container-width-sm: var(--container-2xl); /* 42rem*/
  --theme-container-width-md: var(--container-3xl); /* 48rem */
  --theme-container-width-lg: var(--container-5xl); /* 64rem */
  --theme-container-width: var(--container-7xl); /* 80rem */

  --theme-brand: var(--color-primary);
  --theme-brand-content: var(--color-primary-content);
  --theme-primary: var(--color-primary);
  --theme-primary-content: var(--color-primary-content);
  --theme-secondary: var(--color-secondary);
  --theme-secondary-content: var(--color-secondary-content);
  --theme-base: var(--color-base-100);
  --theme-base-200: var(--color-base-200);
  --theme-base-300: var(--color-base-300);
  --theme-base-content: var(--color-base-content);
  --theme-base-content-soft: oklch(55.1% .027 264.364);
  --theme-neutral: var(--color-neutral);
  --theme-neutral-content: var(--color-neutral-content);
  --theme-info: var(--color-info);
  --theme-info-content: var(--color-info-content);
  --theme-success: var(--color-success);
  --theme-success-content: var(--color-success-content);
  --theme-warning: var(--color-warning);
  --theme-warning-content: var(--color-warning-content);
  --theme-error: var(--color-error);
  --theme-error-content: var(--color-error-content);

  --theme-link-content: var(--theme-primary);
  --theme-link-hover-content: var(--theme-secondary);
  --theme-link-focus-content: var(--theme-primary);
  --theme-link-focus-visible-content: var(--theme-primary);

  /* Site specific variables. Useful for fixed-position or 100dvh height components.
  --theme-header-height: 124px;
  --theme-toolbar-offset: var(--drupal-displace-offset-top, 0px);
  --theme-header-height-offset: calc(var(--theme-header-height) + var(--theme-toolbar-offset));*/
}

@plugin "daisyui" {
  themes: light --default, dark;
  /* If you want to have the whole base of daisyui & tailwindcss available by direct classes, then remove "include"
  @see https://daisyui.com/docs/config/#include */
  include:
    badge,
    breadcrumbs,
    button,
    card,
    hero,
    collapse,
    dropdown,
    menu,
    modal,
    navbar,
    progress,
    radial-progress,
    stats,
    steps,
    link,
    alert,
    drawer,
    table,
    footer,
    toggle,
    tab;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --theme-base-content-soft: oklch(55.1% .027 264.364);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --theme-base-content-soft: oklch(0.74 0 0);
}

.messages {
  @apply alert;
  @apply block;
  @apply mt-6;

  &.messages--status {
    @apply alert-info;
  }
  &.messages--warning {
    @apply alert-warning;
  }
  &.messages--error {
    @apply alert-error;
  }
}
