/* Used this dependency as a shared to easy any modification */

@reference "@src/main.css";

@layer components {
  :root, :host {
    /* ********      Common        ******** */
    /* ********      --size-* from daisyui: increase or decrease to adjust proprotionally whole scale (sm, md, lg, xl)         ******** */
    /* --size-field variable is used to define the base size of fields like input, button, tab, etc. */
    /* --size-selector variable is used to define the base size of selectors like checkbox, radio, toggle, badge, etc. */
    /* IMPORTANT: Divide in a "semantic way" to expose this same concept in customizer but per "usahe" (andalusian love, hi! :)')*/
    /* ********      --radius-* from daisyui: Border radius options.        ******** */
    /* --radius-box For large sized components like card, modal, alert, etc. */
    /* --radius-field For medium sized components like button, input, select, tab, etc. */
    /* --rounded-selector	 For small sized components like checkbox, toggle, badge, etc. */

    /* ********      Label        ******** */
    --form-labelFontFamily: var(--font-sans);
    --form-labelFontWeight: var(--font-weight-bold);
    --form-labelFontSize: var(--text-base);
    --form-labelMarginBottom: var(--spacing-2);
    /* ********      Input field   ******** */
    /* Override source to not use --size-field or discouranged other customizations like padding, font-size, width or height with current daisyui component or any auto-scaled affected property @see "@daisyui/_input.css" * */
    --form-inputField-size: var(--size-field, 0.25rem);
    --form-inputField-fontFamily: var(--font-sans);
    --form-inputField-borderWidth: var(--border);
    --form-inputField-borderRadius: var(--radius-field);
    /* ********      File input   ******** */
    --form-inputFile-size: var(--size-field, 0.25rem);
    --form-inputFile-fontFamily: var(--font-sans);
    --form-inputFile-borderWidth: var(--border);
    /* ********      Checkbox     ******** */
    --form-inputCheckbox-size: var(--size-selector, 0.25rem);
    --form-inputCheckbox-borderRadius: var(--rounded-selector);
    /* ********      Radio        ******** */
    --form-radio-size: var(--size-selector, 0.25rem);
    /* ********      Select       ******** */
    --form-inputSelect-size: var(--size-field, 0.25rem);
    --form-inputSelect-fontFamily: var(--font-sans);
    --form-inputSelect-borderWidth: var(--border);
    --form-inputSelect-borderRadius: var(--radius-field);
    /* ********      Texarea      ******** */
    --form-inputTextarea-size: var(--size-field, 0.25rem);
    --form-inputTextarea-fontFamily: var(--font-sans);
    --form-inputTextarea-borderWidth: var(--border);
    --form-inputTextarea-borderRadius: var(--rounded-selector);
    /* ********      Toogle       ******** */
    --form-toggle-size: var(--size-selector, 0.25rem);
    --form-toggle-radius: var(--radius-selector);
    /* ********      Range        ******** */
  }

  @import "@daisyui/_label.css";
  @import "@daisyui/_checkbox.css";
  @import "@daisyui/_radio.css";
  @import "@daisyui/_toggle.css";
  @import "@daisyui/_label.css";
  @import "@daisyui/_input.css";
  @import "@daisyui/_textarea.css";
  @import "@daisyui/_fileinput.css";
  @import "@daisyui/_select.css";
  @import "@daisyui/_range.css";

  .checkbox {
    --size-field: var(--form-inputCheckbox-size);
  }
  .radio {
    --size-field: var(--form-inputRadio-size);
  }
  .toggle {
    --size-field: var(--form-inputRadio-size);
  }
  .input {
    --size-field: var(--form-inputField-size);
    --border: var(--form-inputField-borderWidth);
    font-family: var(--form-inputField-fontFamily);
    border-radius: var(--form-inputField-borderRadius);
  }
  .select {
    --size-field: var(--form-inputSelect-size);
    --border: var(--form-inputSelect-borderWidth);
    font-family: var(--form-inputSelect-fontFamily);
    border-radius: var(--form-inputSelect-borderRadius);
  }
  .textarea {
    --border: var(--form-inputTextarea-borderWidth);
    font-family: var(--form-inputTextarea-fontFamily);
    border-radius: var(--form-inputTextarea-borderRadius);
  }
  .file-input  {
    --size-field: var(--form-inputFile-size);
    --border: var(--form-inputFile-borderWidth);
    font-family: var(--form-inputFile-fontFamily);
  }
  .label {
    font-family: var(--form-labelFontFamily);
    font-weight: var(--form-labelFontWeight);
    font-size: var(--form-labelFontSizee);
    margin-bottom: var(--form-labelMarginBottom);
  }
  .form-item {
    @apply mb-3;
  }
  .form-element-label {
    @apply mb-3;
  }
  [data-drupal-selector="edit-actions"] {
    @apply pt-5;
  }
  .iti.iti--allow-dropdown {
    display: block !important;
  }

  /* form {
    margin: 5rem auto;
    width: 40rem;
  } */
}

@source "../src/components/input";
@source "../src/components/select";
@source "../src/components/textarea";
