{#
/**
 * @file
 * Default implementation for responsive image gallery.
 *
 * Available variables:
 * - gallery.wrapper_class: wrapper glass
 * - thumbnails.images: thumbnail images.
 * - gallery.thumbnail_classes: thumbnail classes
 * @ingroup themeable
 */
 #}

 <div class="rg-grid {{ gallery.wrapper_class}}">
 	{% for key,image in thumbnails.images %}
 		<div class="rg-grid-item {{ gallery.thumbnail_classes }}">
 			{{ image }}
 		</div>
 	{% endfor %}
 </div>