{# templates/block/block--holy-holythemeinfo.html.twig #}
<div class="block block-holy-theme-info">
  <h2>Theme support</h2>
  <ul>
    <li><a href="https://www.drupal.org/project/holy">Project</a></li>
    <li><a href="https://holy.redweb.cz">Demo</a></li>
    <li><a href="https://styleguide.holy.redweb.cz">Styleguide</a></li>
    <li><a href="https://www.drupal.org/project/issues/holy">Issues</a></li>
  </ul>
</div>
