.flipdown {
  width: 580px;
}

.ept-paragraph-countdown.light {
  h2 {
    color: #fff;
  }
  .countdown-header {
    color: #fff;
    .text-content,
    .cke_editable {
      color: #fff;
    }
  }
}
