.ept-carousel-basic .tns-nav > .tns-nav-active {
  background: #999;
}

.ept-carousel-basic .thumbnails .tns-nav-active {
  background: none;
  border-color: #000;
}

.ept-carousel-basic .tns-nav {
  text-align: center;
  margin: 10px 0;
}

.ept-carousel-basic .tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #ddd;
  border: 0;
}

.ept-carousel-basic .tns-nav > .tns-nav-active {
  background: #999;
}

.ept-carousel-basic .ept-carousel-prev,
.ept-carousel-basic .ept-carousel-next {
  height: 20px;
  width: 20px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #000;
  opacity: 0.35;
  outline: 0;
  z-index: 3;
}

.ept-carousel-basic .ept-carousel-prev:hover,
.ept-carousel-basic .ept-carousel-next:hover {
  opacity: 1;
}

.ept-carousel-basic .ept-carousel-prev {
  left: 10px;
  transform: rotate(-135deg);
}

.ept-carousel-basic .ept-carousel-next {
  right: 10px;
  transform: rotate(45deg);
}

.ept-carousel-basic .tiny-slider {
  position: relative;
}
