.ept-hero .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.ept-hero .field--name-field-ept-hero-link {
  margin-bottom: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.ept-hero .field--name-field-ept-hero-link.field:not(:last-child) {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.ept-hero .field--name-field-ept-hero-title-prefix {
  text-transform: uppercase;
}