#header {
  .region-header-search {
    @media (max-width: $screen-sm-max) {
      margin-bottom: 25px;

      .form-item {
        width: 100%;

        .form-search {
          height: 55px;
          color: var(--primary-darker);
          border-width: 1.5px;
          border-color: var(--primary-darker);
          background: transparent;
        }
      }

      .form-actions {
        .form-submit {
          overflow: hidden;
          width: 78px !important;
          height: 55px;
          padding-right: 0 !important;
          padding-left: 0 !important;
          text-indent: 300px;
          border-width: 1.5px;
          border-color: var(--primary-darker);
          background-color: var(--primary-darker);
          background-position: 50% 50%;
          background-size: 18px 18px;

          &:hover {
            border-width: 1.5px;
            border-color: var(--primary-darker);
            background-color: var(--primary-darker);
            background-image: url('../images/search.svg');
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      position: absolute;
      right: 0;
      bottom: 35px;
      display: flex;
    }
    .block-search {
      & > h2 {
        display: none;
      }

      // base
      form,
      div,
      input,
      span {
        margin: 0;
        padding: 0;
      }

      form {
        display: flex;
      }

      .form-submit {
        width: 142px;
        margin: 0;
        padding-right: 30px;
        padding-left: 53px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-image: url('../images/search.svg');
        background-repeat: no-repeat;
        background-position: 24px 50%;
        background-size: 18px 18px;

        &:hover {
          color: var(--black);
          border-color: var(--primary);
          background-color: var(--primary-vivid);
          background-image: url('../images/search-hover.svg');
        }
      }

      .form-search {
        padding-right: 15px;
        padding-left: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        @media (min-width: $screen-md-min) {
          width: 220px;
        }
      }
    }
  }
}
