#header {
  .region-header-menu {
    @media (max-width: $screen-sm-max) {
      .block-menu {
        ul.menu {
          justify-content: flex-end;

          li {
            a {
              text-decoration: none;
              font-size: 18px;
              line-height: 30px;

              &[data-drupal-link-system-path='user'] {
                padding-left: 37px;
                background: url('../images/user.svg') no-repeat 0 50%;
                background-size: auto 30px;
              }

              &[data-drupal-link-system-path='user/logout'] {
                padding-left: 35px;
                background: url('../images/mobile-logout.svg') no-repeat 0 50%;
                background-size: auto 30px;
              }

              &[data-drupal-link-system-path='user/login'] {
                padding-left: 35px;
                background: url('../images/mobile-logout.svg') no-repeat 0 50%;
                background-size: auto 30px;

                &.is-active {
                  color: var(--primary);
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {
      position: absolute;
      top: 20px;
      right: 0;
      display: flex;
    }
    .block-menu {
      margin-left: 30px;

      & > h2 {
        display: none;
      }

      ul.menu {
        display: flex;
        gap: 25px;

        li {
          &:last-child {
            border-right: 0;
          }

          a {
            display: block;
            padding: 5px 0;
            color: var(--black);
            font-size: 14px;
            font-weight: 600;

            &[data-drupal-link-system-path='user'] {
              padding-left: 26px;
              background: url('../images/user.svg') no-repeat 0 50%;
              background-size: auto 18px;
            }

            &[data-drupal-link-system-path='user/logout'] {
              padding-left: 23px;
              background: url('../images/logout.svg') no-repeat 0 50%;
              background-size: auto 18px;
            }

            &[data-drupal-link-system-path='user/login'] {
              padding-left: 23px;
              background: url('../images/logout.svg') no-repeat 0 50%;
              background-size: auto 18px;

              &.is-active {
                color: var(--primary);
              }
            }
          }

          &.menu-item--active-trail {
            a {
              font-weight: bold;
            }
          }

          // 2
          ul.menu {
            li {
              display: none;
            }
          }
        }
      }
    }
  }
}
