$primaryColor: #2C3E50;
$text: #222427;
//Media queries
$maxLarge: "(max-width: 1319px)";
$large: "(max-width: 1199px)";
$tablet: "(max-width: 991px)";
$phone: "(max-width: 767px)";
$smallPhone: "(max-width: 575px)";

body {
  background: url('../img/paper.svg') #E3EAF2;
  color: $primaryColor;
}

.region-navigation .search-block-form .search-block--content {
  @media #{$large}  {
    background: none;
  }
}

.region-navigation,
.region-header .search-block-form .search-block--content {
  background: url('../img/paper.svg') #E3EAF2;
}

.main-footer,
.main-footer--wrapper,
.region-header-top {
  background: $text;
}

.menu-account--icon {
  background: $text;
}
