@charset "UTF-8";
:root {
  --white: #fff;
  --black: #0f2154;
  --black-80: #3f4d76;
  --black-60: #6f7a98;
  --black-05: #f3f4f6;
  --primary: #009cde;
  --primary-10: #e5f5fc;
  --primary-vivid: #30cdff;
  --primary-vivid-25: #cbf2ff;
  --primary-vivid-40: #99d7f2;
  --primary-vivid-60: #66c4eb;
  --primary-vivid-80: #33b0e5;
  --primary-darker: #006894;
  --primary-damped: #bad9e5;
  --primary-dark: #122a70;
  --gray-10: #1a1a1a;
  --gray-20: #333333;
  --gray-30: #4d4d4d;
  --gray-40: #666666;
  --gray-50: #808080;
  --gray-60: #999999;
  --gray-70: #b3b3b3;
  --gray-80: #cccccc;
  --gray-90: #e6e6e6;
  --screen-xs-min: 20rem;
  --screen-sm-min: 30rem;
  --screen-md-min: 53.125rem;
  --screen-lg-min: 85rem;
  --screen-xs-max: 29.9375rem;
  --screen-sm-max: 53.0625rem;
  --screen-md-max: 84.9375rem;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-200italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-300italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-500italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-600italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-700italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-800italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/nunito-sans-v15-cyrillic_cyrillic-ext_latin_latin-ext-900italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Geologica';
  src: url('../fonts/geologica-v1-cyrillic_cyrillic-ext_latin_latin-ext-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geologica';
  src: url('../fonts/geologica-v1-cyrillic_cyrillic-ext_latin_latin-ext-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geologica';
  src: url('../fonts/geologica-v1-cyrillic_cyrillic-ext_latin_latin-ext-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geologica';
  src: url('../fonts/geologica-v1-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geologica';
  src: url('../fonts/geologica-v1-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geologica';
  src: url('../fonts/geologica-v1-cyrillic_cyrillic-ext_latin_latin-ext-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geologica';
  src: url('../fonts/geologica-v1-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geologica';
  src: url('../fonts/geologica-v1-cyrillic_cyrillic-ext_latin_latin-ext-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geologica';
  src: url('../fonts/geologica-v1-cyrillic_cyrillic-ext_latin_latin-ext-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* focus */
*:focus {
  outline: 0;
}

.nowrap {
  text-indent: nowrap;
}

/* background */
.bg-white {
  background: #fff;
}

.bg-black {
  background: #0f2154;
}

.bg-main {
  background: #009cde;
}

/* text */
.text-white {
  color: #fff;
}

.text-black {
  color: #0f2154;
}

.text-main {
  color: #009cde;
}

.ck-editor audio {
  background: var(--black);
}
@media (max-width: 849px) {
  .ck-editor audio {
    width: 100% !important;
  }
}
.ck-editor blockquote {
  margin: 0 0 1rem 0;
}
.ck-editor blockquote p {
  margin: 0;
  padding: 0.9375rem;
  background: var(--gray-40);
}
.ck-editor blockquote p:before {
  margin-right: 0.1em;
  content: '“';
  vertical-align: -0.4em;
  color: var(--gray-50);
  font-family: georgia, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}
.ck-editor blockquote p:after {
  margin-left: 0.1em;
  content: '”';
  vertical-align: -0.55em;
  color: var(--gray-50);
  font-family: georgia, sans-serif;
  font-size: 3em;
  line-height: 0.1em;
}
.ck-editor body {
  color: var(--black);
  font-size: 1.125rem;
  line-height: 1.5;
}
.ck-editor input,
.ck-editor select,
.ck-editor textarea {
  width: 100%;
  transition: 0.18s ease-out;
  vertical-align: bottom;
  color: var(--black);
  border: 0.0625rem solid var(--primary-damped);
  border-radius: 0.4375rem;
  outline: none;
  background: var(--white);
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5;
}
.ck-editor input,
.ck-editor select {
  height: 2.6875rem;
  padding: 0 0.8125rem;
}
.ck-editor textarea {
  padding: 0.8125rem;
}
.ck-editor input[type='checkbox'],
.ck-editor input[type='radio'],
.ck-editor input[type='file'] {
  width: auto;
}
.ck-editor input[type='reset'],
.ck-editor input[type='submit'] {
  width: auto;
  cursor: pointer;
  color: var(--white);
  border: 0.0625rem solid transparent;
  background: var(--primary);
  font-size: 1.0625rem;
  font-weight: 600;
}
.ck-editor input:hover,
.ck-editor select:hover,
.ck-editor textarea:hover {
  color: var(--black);
}
.ck-editor input[type='reset']:hover,
.ck-editor input[type='submit']:hover {
  color: var(--white);
  background: var(--primary-darker);
}
.ck-editor input:focus,
.ck-editor textarea:focus,
.ck-editor select:focus {
  color: var(--black);
}
.ck-editor hr {
  clear: both;
  margin: 1rem 0;
  border: 0.0625rem solid var(--primary-vivid-25);
}
.ck-editor html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: clamp(1rem, 0.833vw + 0rem, 4rem);
  line-height: 1.5;
}
.ck-editor img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.ck-editor .caption {
  margin: 0 0 3.125rem 0;
  padding: 0;
}
.ck-editor .caption.align-center {
  margin-bottom: 3.125rem;
}
.ck-editor .caption.align-right {
  margin: 0 0 3.125rem 1.875rem;
}
.ck-editor .caption.align-left {
  margin: 0 1.875rem 3.125rem 0;
}
.ck-editor .caption > figcaption {
  position: relative;
  z-index: 10;
  top: 0.75rem;
  display: inline;
  max-width: none;
  padding: 0;
  padding: 0.25rem 1.25rem 0.5rem 0.625rem;
  caption-side: bottom;
  color: var(--primary-dark);
  background-color: var(--primary-damped);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-size: 1.125rem;
}
.ck-editor a {
  text-decoration: underline;
  color: var(--primary);
}
.ck-editor a:hover {
  text-decoration: underline;
  color: var(--primary-vivid);
}
.ck-editor a:visited {
  color: var(--primary-darker);
}
.ck-editor ul,
.ck-editor ol {
  margin: 0 0 3.125rem 0;
  padding: 0.125rem 0 0.125rem 0.9375rem;
}
@media (max-width: 849px) {
  .ck-editor ul,
  .ck-editor ol {
    margin: 0 0 1.125rem 0;
  }
}
.ck-editor ul ul,
.ck-editor ul ol,
.ck-editor ol ol,
.ck-editor ol ul {
  margin: 0;
  padding: 0 0 0 1.25rem;
}
.ck-editor ul li,
.ck-editor ol li {
  margin: 0.375rem 0 0.375rem 0;
  list-style-position: outside;
  line-height: 1.5;
}
.ck-editor p {
  margin: 0 0 1.125rem 0;
  line-height: 1.5;
}
.ck-editor p.perex {
  margin: 0 0 2.5rem 0;
  color: var(--primary-dark);
  font-family: 'Geologica', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}
@media (max-width: 849px) {
  .ck-editor p.perex {
    margin: 0 0 1.25rem 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
.ck-editor table {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  border-collapse: collapse;
  border-top: 0.0625rem solid var(--primary-vivid-25);
  border-right: 0;
  border-bottom: 0;
  border-left: 0.0625rem solid var(--primary-vivid-25);
}
.ck-editor caption {
  padding: 0.625rem 0.9375rem;
  text-align: left;
  border-top: 0.0625rem solid var(--primary-vivid-25);
  border-right: 0.0625rem solid var(--primary-vivid-25);
  border-bottom: 0;
  border-left: 0.0625rem solid var(--primary-vivid-25);
  font-weight: bold;
}
.ck-editor th {
  padding: 0.625rem 0.9375rem;
  text-align: left;
  border-top: 0;
  border-right: 0.0625rem solid var(--primary-vivid-25);
  border-bottom: 0.0625rem solid var(--primary-vivid-25);
  border-left: 0;
  background: var(--gray-40);
  font-weight: bold;
}
.ck-editor td {
  padding: 0.625rem 0.9375rem;
  border-top: 0;
  border-right: 0.0625rem solid var(--primary-vivid-25);
  border-bottom: 0.0625rem solid var(--primary-vivid-25);
  border-left: 0;
}
.ck-editor h1 {
  margin: 0 0 3.75rem 0;
  padding: 0;
  color: var(--primary);
  font-family: 'Geologica', sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 849px) {
  .ck-editor h1 {
    font-size: 1.875rem;
  }
}
.ck-editor h2 {
  margin: 0 0 1.25rem 0;
  padding: 2.625rem 0 0 0;
  color: var(--primary);
  font-family: 'Geologica', sans-serif;
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 849px) {
  .ck-editor h2 {
    padding: 0.625rem 0 0 0;
    font-size: 1.5rem;
  }
}
.ck-editor h3 {
  margin: 0 0 1.25rem 0;
  padding: 2.625rem 0 0 0;
  color: var(--primary-dark);
  font-family: 'Geologica', sans-serif;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.3;
}
@media (max-width: 849px) {
  .ck-editor h3 {
    margin: 0 0 0.625rem 0;
    padding: 0.625rem 0 0 0;
    font-size: 1.25rem;
  }
}
.ck-editor h4 {
  margin: 0 0 1.25rem 0;
  padding: 2.625rem 0 0 0;
  color: var(--primary-dark);
  font-family: 'Geologica', sans-serif;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.3;
}
@media (max-width: 849px) {
  .ck-editor h4 {
    margin: 0 0 0.625rem 0;
    padding: 0.625rem 0 0 0;
    font-size: 1.125rem;
  }
}
.ck-editor h5 {
  margin: 0 0 1.25rem 0;
  padding: 2.625rem 0 0 0;
  color: var(--primary);
  font-family: 'Geologica', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 849px) {
  .ck-editor h5 {
    margin: 0 0 0.625rem 0;
    padding: 0.625rem 0 0 0;
    font-size: 1.125rem;
  }
}
.ck-editor h6 {
  margin: 0 0 1.25rem 0;
  padding: 2.625rem 0 0 0;
  color: var(--black);
  font-family: 'Geologica', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3;
}
@media (max-width: 849px) {
  .ck-editor h6 {
    margin: 0 0 0.625rem 0;
    padding: 0.625rem 0 0 0;
    font-size: 1rem;
  }
}
.ck-editor video {
  background: var(--black);
}
@media (max-width: 849px) {
  .ck-editor video {
    width: 100% !important;
  }
}

.ck-editor .ck-content {
  min-height: 9.375rem;
  padding: 1.5625rem !important;
}
.ck-editor .ck-content > :first-child {
  margin-top: 0 !important;
}
