// color

/* background */
.bg-white {
  background: $white;
}

.bg-black {
  background: $black;
}

.bg-main {
  background: $primary;
}

/* text */
.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-main {
  color: $primary;
}
