.node--type-article {
  &.node--view-mode-teaser {
    @media (min-width: $screen-md-min) {
      display: flex;
      gap: 40px;

      .field--type-image {
        flex: 1;
        margin-top: 10px;
      }

      .text {
        flex: 1.8;

        h2.title {
          a {
            font-size: 34px;
          }
        }
      }
    }
    .field--type-image {
      a {
        display: block;
        overflow: hidden;
      }

      img {
        width: 100%;
        max-width: none;
        height: auto;
        transition: 0.3s ease-in;
      }

      &:hover {
        img {
          transform: scale(1.15);
        }
      }
    }

    .text {
      h2.title {
        margin: 0 0 10px 0;
        padding: 0;
        line-height: 1.3;

        a {
          transition: color 0.25s;
          text-decoration: none;
          color: var(--black);
          font-size: 34px;
          font-weight: 600;

          &:hover {
            transition: color 0.25s;
            text-decoration: none;
            color: var(--primary);
          }
        }
      }

      .readmore {
        margin-top: -5px;
        padding-top: 0;

        a {
          display: inline-block;
          display: flex;
          align-items: center;
          color: var(--primary-vivid-80);
          font-size: 14px;
          font-weight: 700;
          gap: 10px;

          &::after {
            display: inline-block;
            width: 26px;
            height: 20px;
            content: '';
            transition: width 0.25s;
            background: url('../images/button-read-more.svg') no-repeat right 50%;
            background-size: auto 10px;
          }

          &:hover {
            text-decoration: none;
            &::after {
              width: 31px;
              transition: width 0.25s;
            }
          }
        }
      }
    }
  }
}
