@import "tailwindcss" source(none);
@source "./artisan-customizer.ts";


@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "light";
}

/* https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */
@layer base {
  body  {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--body-color);
    background-color: var(--body-background-color);
  }
}

@utility container {
  @apply mx-auto;
  padding-inline: var(--spacing-4);
}
