{% set attributes = attributes ?: create_attribute() %}

<div {{ attributes.addClass('stats')}}>
  {% block stats %}
    {% for stat_item in stats %}
      {% embed 'artisan:stat' with {
        title: stat_item.title,
        value: stat_item.value,
        desc: stat_item.desc,
        figure: stat_item.figure,
        attributes: stat_item.attributes ?? create_attribute(),
        figure_attributes: stat_item.figure_attributes ?? create_attribute(),
        title_attributes: stat_item.title_attributes ?? create_attribute(),
        value_attributes: stat_item.value_attributes ?? create_attribute(),
        desc_attributes: stat_item.desc_attributes ?? create_attribute()
      } only %}
      {% endembed %}
    {% endfor %}
  {% endblock %}
</div>
