{% apply footnotes_spaceless %}
  {# footnotes/footnote-link.html.twig #}
  <a class="footnote__citation js-footnote-citation" id="{{ fn.ref_id }}" title="{{ fn.text_clean }}" href="#{{ fn.fn_id }}">{{ fn.value|render|trim }}</a>
{% endapply %}