<dialog class="footnotes__dialog" id="js-footnotes-dialog">
  <form method="dialog" class="footnotes__dialog-form" id="js-footnotes-dialog-form">
    <div class="footnotes__dialog-citation-number" id="js-footnotes-dialog-citation-number"></div>
    <div class="footnotes__dialog-text" id="js-footnotes-dialog-text"></div>
    <button class="footnotes__dialog-close">Close</button>
  </form>
</dialog>