.ept-tabs-tabs_like_buttons .ui-tabs,
.ept-tabs-tabs_like_buttons .ui-tabs.ui-widget.ui-widget-content {
  border: 0;
}

.ept-tabs-tabs_like_buttons .ui-tabs .ui-tabs-panel {
  padding-left: 0;
}

.ept-tabs-tabs_like_buttons .ui-tabs-nav {
  padding: 0;
  background: transparent;
  border-width: 0;
}

.ept-tabs-tabs_like_buttons .ui-tabs-nav li {
  position: static;
  margin: 0;
  border-bottom: 1px solid #327e04;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ept-tabs-tabs_like_buttons .ui-tabs-nav li a {
  text-decoration: none;
  border: 0;
}

.ept-tabs-tabs_like_buttons .ui-tabs-nav li:first-child {
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}

.ept-tabs-tabs_like_buttons .ui-tabs-nav li:last-child {
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}

.ept-tabs-tabs_like_buttons .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 0;
  border-bottom: 1px solid #d4ccb0;
}
