{#
/**
 * @file
 * Default theme implementation to display a formatted glightbox image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - url: An URL the image can be linked to.
 * - attributes: Link attributes.
 *
 * @see template_preprocess_glightbox_formatter()
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}" aria-controls="glightbox" role="button" {{ attributes }}>
  {{ image }}
</a>
{% if caption_description is not empty %}
  <div class="glightbox-desc">
    {{- caption_description -}}
  </div>
{% endif %}
