.context-menu {
  position: fixed;
  z-index: 9999;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 200px;
  padding: var(--gin-spacing-s, 0.75rem) var(--gin-spacing-xs, 0.5rem);
  border: 1px solid 1px solid
    var(--gin-color-primary-light, rgb(5, 80, 230, 0.15));
  border-radius: var(--gin-border-l, 0.75rem);
  background: var(--gin-bg-layer, #fff);
  box-shadow: var(
    --gin-shadow-l2,
    0 1px 2px rgb(20, 45, 82, 0.02),
    0 3px 4px rgb(20, 45, 82, 0.03),
    0 5px 8px rgb(20, 45, 82, 0.04),
    0 20px 24px rgb(20, 45, 82, 0.12)
  );
  gap: 4px;
}

.context-menu--active {
  display: flex;
}

.context-menu .close {
  position: absolute;
  z-index: 11;
  top: 4px;
  right: 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.context-menu .close::before,
.context-menu .close::after {
  position: absolute;
  top: 0;
  left: 8px;
  width: 2px;
  height: 18px;
  content: " ";
  background-color: var(--gin-color-primary, rgb(5, 80, 230));
  mask-image: none;
}

.context-menu .close::before {
  transform: rotate(45deg);
}

.context-menu .close::after {
  transform: rotate(-45deg);
}

.context-menu a:link,
.context-menu a:visited {
  display: flex !important;
  align-items: center !important;
  box-sizing: border-box;
  width: 92% !important;
  padding: 4px var(--gin-spacing-xxs, 0.25rem) !important;
  cursor: pointer !important;
  text-align: left !important;
  text-decoration: none !important;
  color: var(--gin-color-primary, rgb(5, 80, 230)) !important;
  border-radius: var(--gin-border-xs, 0.5rem) !important;
  background: var(--gin-bg-layer, #fff) !important;
  font-size: 14px !important;
  line-height: 1.3 !important;
  gap: 6px;
}

.context-menu a:hover,
.context-menu a:focus {
  color: var(--gin-bg-layer, #fff) !important;
  background-color: var(--gin-color-primary, rgb(5, 80, 230)) !important;
}

.context-menu a::before {
  display: block;
  width: 13px;
  height: 13px;
  content: "";
  background: var(--gin-color-primary, rgb(5, 80, 230));
  mask-size: 13px;
}

.context-menu a:hover::before {
  background-color: var(--gin-bg-layer, #fff) !important;
}

.context-menu a.edit-action::before {
  mask-image: url("fa.svg#pencil-view");
}

.context-menu a.delete-action::before {
  mask-image: url("fa.svg#trash-can-view");
}

.context-menu a.revisions-action::before {
  mask-image: url("fa.svg#clock-view");
}

.context-menu a.new-folder::before {
  mask-image: url("fa.svg#folder-plus-view");
}

.context-menu a.upload-file::before {
  mask-image: url("fa.svg#upload-view");
}

.context-menu a.manage-folder::before {
  mask-image: url("fa.svg#clone-view");
}
