#board .droppable-message {
  position: absolute;
  top: 50%;
  right: calc(50% - 45px);
  display: none;
  width: 90px;
  text-align: center;
  color: var(--gin-color-text, #222330);
}

#board.droppable:not(.not-droppable) {
  position: relative;
  background: rgb(243, 246, 255, 0.7);
}

#board.droppable:not(.not-droppable) .folder.not-droppable,
#board.droppable:not(.not-droppable) .folder.folder-file {
  opacity: 0.4;
}

#board.droppable:not(.not-droppable) .droppable-message {
  display: block;
}

#board.droppable:has(.folder.upload-droppable) {
  background: transparent !important;
}

#board.droppable:has(.folder.upload-droppable) .droppable-message {
  display: none;
}

#board.droppable:has(.folder.upload-droppable) .folder.not-droppable,
#board.droppable:has(.folder.upload-droppable) .folder.folder-file {
  opacity: 1 !important;
}

#board .folder.folder-folder.droppable.upload-droppable {
  border-radius: 0;
  outline: 0 none;
  background: #ccd7f8;
}

#board .folder.folder-folder.droppable a.folder-icon .icon::before {
  background: var(--gin-color-primary-hover, #0444c4);
  mask-image: url(fa.svg#folder-plus-view);
  mask-position: 2px 2px;
}

#media-folders
  #board.search-results
  .folder.folder-folder.droppable
  a.folder-icon
  .icon::after,
#media-folders.list
  #board
  .folder.folder-folder.droppable
  a.folder-icon
  .icon::after {
  top: 12px;
  right: 7px;
  width: 15px;
  height: 15px;
  background: var(--gin-color-primary-hover, #0444c4);
}

#board .droppable-message::after {
  position: absolute;
  top: -50px;
  left: calc(50% - 25px);
  display: block;
  width: 50px;
  height: 50px;
  content: "";
  background: var(--gin-color-text, #222330);
  mask-image: url(fa.svg#drop-view);
}
