.ept-tabs-vertical_tabs .ui-tabs {
  position: relative;
  padding-left: 6.5em;
  padding-bottom: 1em;
}
.ept-tabs-vertical_tabs .ui-tabs-nav {
  position: absolute;
  left: 0.25em;
  top: 0.25em;
  bottom: 0.25em;
  width: 6em;
  padding: 0.2em 0 0.2em 0.2em;
}
.ept-tabs-vertical_tabs .ui-tabs-nav li {
  right: 1px;
  width: 100%;
  border-right: none;
  border-bottom-width: 1px !important;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}
.ept-tabs-vertical_tabs .ui-tabs-nav li.ui-tabs-selected,
.ept-tabs-vertical_tabs .ui-tabs-nav li.ui-state-active {
  border-right: 1px solid transparent;
}
.ept-tabs-vertical_tabs .ui-tabs-nav li a {
  float: right;
  width: 100%;
  text-align: right;
  border: 0;
}

.ept-tabs-vertical_tabs .ui-tabs-nav .ui-tabs-anchor {
  float: right;
}
