.sidebar {
  .block-menu {
    @media (max-width: $screen-sm-max) {
      & {
        display: none;
      }
    }

    @media (min-width: $screen-sm-min) {
      ul.menu {
        li {
          line-height: 1.2;

          a {
            display: block;
            padding: 14px 10px 12px 10px;
            text-decoration: none;
            color: var(--black-80);
            border-bottom: 1px solid var(--primary-damped);
            background: var(--white);
            font-size: 14px;
            font-weight: 700;

            &.is-active {
              background: var(--primary-vivid-25);

              &:hover {
                background: var(--primary-vivid-25);
              }
            }
          }

          // 2
          ul {
            li {
              a {
                padding-left: 30px;
              }
            }

            // 3
            ul {
              li {
                a {
                  padding-left: 50px;
                }
              }

              // 4
              ul {
                li {
                  a {
                    padding-left: 70px;
                  }
                }
              }
            }
          }

          a:hover {
            background: var(--primary-vivid-25);
          }
        }
      }
    }
  }
}
