.ept-paragraph-cta__content {
  display: flex;
  gap: 20px;
  .field--name-field-ept-cta-title {
    flex-direction: column;
  }

  .column-1,
  .column-2 {
    width: 50%;
  }

  .column-2 .field--name-field-ept-cta-title {
    h2,
    h3,
    h4,
    h5 {
      margin-top: 0;
    }
  }
}

.two_columns_fluid {
  .ept-paragraph-cta__content .column-1 {
    position: relative;

    .field--name-field-ept-cta-column-image {
      width: 50vw;
      position: absolute;
      right: 0;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.ept-paragraph-cta__content .cta-button-wrapper {
  display: inline-flex;
  gap: 20px;
}

.image-position-right.two_columns_fluid .ept-paragraph-cta__content .column-1 .field--name-field-ept-cta-column-image {
  right: inherit;
  left: 0;
}

.one_column .ept-paragraph-cta__content {
  flex-direction: column;
}

.align-content-center.ept-cta {
  text-align: center;

  h2,
  .field--name-field-ept-cta-column-image,
  .cta-button-wrapper,
  .field--name-field-ept-cta-title {
    text-align: center;
  }
}

.align-content-right.ept-cta {
  text-align: right;

  h2,
  .field--name-field-ept-cta-column-image,
  .cta-button-wrapper,
  .field--name-field-ept-cta-title {
    text-align: right;
  }
}
