{#
/**
 * @file
 * Default theme implementation to display a formatted glightbox image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - url: An URL the image can be linked to.
 * - attributes: Link attributes.
 *
 * @see template_preprocess_glightbox_formatter()
 *
 * @ingroup themeable
 */
#}
<a {{ attributes }}>{{ image }}</a>
