.media-gallery-layout-selector-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.media-gallery-layout-selector-wrapper .form-item-settings-layout-settings-layout-wrapper-layout {
  margin-top: 0;
  margin-bottom: 0;
}

#media-gallery-layout-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  min-height: 120px;
  padding: 10px;
  border: 1px solid #ccc;
}

#media-gallery-layout-preview img {
  max-width: 100px;
  max-height: 100px;
}
