{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'spotify'
] %}
<div{{ attributes.addClass(classes) }} data-endpoint="{{ endpoint }}">
  {#
  Variables:
  - songlink: URL to Spotify for playing song.
  - imgsrc: Album art source URL.
  - album: Album name
  - header: Widget heading text
  - title: Song title
  - artist: Artist(s) of song, comma delimited
  - progress: Render the progress bar
  #}
  <div class="spotify__player">
    {% if display_art %}
      <div class="spotify__art">
        <a href="{songlink}" target="_blank"><img data-src="{imgsrc}" alt="{album}"/></a>
      </div>
    {% endif %}
    <div class="spotify__song">
      <div class="spotify__info">
        <h2 class="spotify__title">{title}</h2>
        <p>
          {artist}<br/>
          {album}
        </p>
      </div>
      {progress}
    </div>
  </div>
</div>
{{ attach_library('spotify_playing/block') }}