.ept-tabs-without_header_background .ui-widget.ui-widget-content.ui-tabs,
.ept-tabs-without_header_background .ui-tabs {
  padding: 0;
  background: none;
  border: 0;
}

.ept-tabs-without_header_background .ui-tabs  .ui-tabs-nav {
  padding-left: 0;
  background: transparent;
  border-width: 0 0 1px 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ept-tabs-without_header_background .ui-tabs-nav li a {
  border: 0;
}

.ept-tabs-without_header_background .ui-tabs  .ui-tabs-panel {
  border-width: 0 1px 1px 1px;
}
