parameters:
	ignoreErrors:
		-
			message: '#^Call to method confirm\(\) on an unknown class Drush\\Style\\DrushStyle\.$#'
			identifier: class.notFound
			count: 2
			path: src/Commands/PriorRevisions.php

		-
			message: '#^Call to method error\(\) on an unknown class Drush\\Style\\DrushStyle\.$#'
			identifier: class.notFound
			count: 2
			path: src/Commands/PriorRevisions.php
