.entityqueue-buttons-wrapper {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ddd;
  background: #f5f5f5;
}

.entityqueue-button-item {
  margin-bottom: 0.5em;
}

.entityqueue-button-item:last-child {
  margin-bottom: 0;
}

.entityqueue-add {
  color: green;
}

.entityqueue-remove {
  color: red;
}
