.ept-stats-stats_in_column {
  .ept-container {
    h2 {
      color: #000000;
      margin-bottom: 1rem;
      @media(min-width:880px) {
        font-size: 1.125rem;
      }
      @media(min-width:1100px) {
        font-size: 1.625rem;
        line-height: 2.375rem;
        margin-bottom: 4.25rem;
      }
    }
    .ept-stats-body-stats {
      @media (min-width:880px) {
        display: flex;
      }
      .ept-stats-body {
        @media (min-width:880px) {
          width: 55.5%;
          margin-right: 20%;
          margin-bottom: 0;
        }
        @media(min-width:1100px) {
          width: 53%;
          margin-right: 16.5%;
        }
        @media(min-width:1320px) {
          width: 56%;
          margin-right: 15.5%;
        }
        .field--type-text-with-summary p {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1rem;
          margin-bottom: 2rem;
          color: #000000;
          line-height: 1.5rem;
          @media(min-width:880px) {
            font-size: 1.125rem;
            margin-bottom: 0;
            line-height: 1.875rem;
          }
        }
      }
      .ept-stats-stats-in-column {
        .field--type-entity-reference-revisions {
          .field__item {
            .paragraph--type--ept-stats-item {
              display: flex;
              flex-direction: column-reverse;
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
              margin-bottom: 1.5rem;
              @media(min-width:880px) {
                margin-bottom: 24px;
              }
              @media(min-width:1320px) {
                width: 295px;
              }
              .field--name-field-ept-stats-item-image {
                display: none;
              }
              .field--name-field-ept-stats-item-link {
                display: none;
              }
              .field--name-field-ept-stats-item-text {
                margin-bottom: 0.5rem;
                color: #000;
                font-size: 1rem;
                font-family: Arial, Helvetica, sans-serif;
                line-height: 1.5rem;
              }
              .field--name-field-ept-stats-item-number {
                font-size: 1.125rem;
                line-height: 1.5rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                @media(min-width: 880px) {
                  margin-bottom: 1rem;
                }
                @media(min-width: 1100px) {
                  font-size: 1.75rem;
                  line-height: 2rem;
                }
              }
            }
            .field__item:last-child {
              .paragraph--type--ept-stats-item {
                border-bottom: 0px;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
