.ept-stats-stats_in_squares {
  .ept-container {
    .ept-stats-wrapper {
      @media(min-width: 880px) {
        display: flex;
        justify-content: space-between;
      }
      .field__item {
        @media(min-width:880px) {
          width: 24%;
        }
        .paragraph--type--ept-stats-item {
          text-align: center;
          background-color: #f1f1f1;
          padding: 20px 0;
          margin-bottom: 20px;
          @media(min-width:880px) {
            padding: 20px;
          }
          .field--name-field-ept-stats-item-image {
            display: none;
          }
          .field--name-field-ept-stats-item-number {
            font-size: 40px;
            color: #379b5d;
            margin-bottom: 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
            @media(min-width: 880px) {
              font-size: 30px;
              width: 100%;
              margin-bottom: 1rem;
            }
          }
          .field--name-field-ept-stats-item-text {
            font-size: 20px;
            margin-bottom: 1.5rem;
            word-wrap: break-word;
            font-family: Arial, Helvetica, sans-serif;
            @media(min-width: 880px) {
              font-size: 18px;
              width:100%;
              margin-bottom: 1rem;
            }
          }
          .field--name-field-ept-stats-item-link {
            font-size: 18px;
            word-wrap: break-word;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: capitalize;
            @media(min-width: 880px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
