/**
 * @file
 * Module Matrix Light.
 *
 * Filename:     module-matrix-light.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
form#system-modules,
form#system-modules *,
form#system-modules-uninstall,
form#system-modules-uninstall * {
  --accent-color: #ff5252;
  --border-color: #ffdddb;
  --background-color: #fff6f5;
  --input-bg: #ffffff;
  --text-color: #80302d;
  --link-color: #fb4f44;
  --link-color-hover: #e64a44;
  --button-bg-hover: #ffd7d4;
  --button-bg: var(--accent-color);
  --button-color: var(--background-color);
  --button-color-hover: var(--text-color);
  --details-bg: #ffffff;
  --filter-bg: #ffedeb;
  --package-bg: var(--details-bg);
  --package-color: var(--text-color);
  --package-bg-hover: #fff1f0;
  --icon-color-open: var(--link-color);
  --main-shadow: rgba(255, 82, 82, 0.15) 0 4px 16px;
  --focus-shadow: inset 0 -40px 40px -40px var(--accent-color);
  --checkbox-bg: linear-gradient(180deg, #ff867f 0%, #ff5252 50%, #d32f2f 100%);
  --checkbox-checked-bg: linear-gradient(180deg, #ffab9e 0%, #ff5252 50%, #c62828 100%);
  --checkbox-check-circle: radial-gradient(circle at 35% 35%, #ffffff 0%, #ffcccb 40%, #ff8a80 100%);
  --checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffffff 0%, #ff8a80 40%, #c62828 100%);
  --checkbox-disabled-bg: linear-gradient(180deg, #ffdad6 0%, #ffb6b3 50%, #e57373 100%);
  --checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #ffe8e6 0%, #ffcccb 40%, #ffb6b3 100%);
}
