/**
 * @file
 * Module Matrix Dark.
 *
 * Filename:     module-matrix-dark-neutral.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
form#system-modules,
form#system-modules *,
form#system-modules-uninstall,
form#system-modules-uninstall * {
  --accent-color: #3f51b5;
  --border-color: #2d3062;
  --background-color: #101119;
  --input-bg: #2f3142;
  --text-color: #d1d4f0;
  --link-color: #868de6;
  --link-color-hover: #a1a8ff;
  --button-bg-hover: #2c2f55;
  --button-bg: var(--accent-color);
  --button-color: var(--background-color);
  --button-color-hover: var(--text-color);
  --details-bg: #202234;
  --filter-bg: #181a28;
  --package-bg: var(--details-bg);
  --package-color: var(--text-color);
  --package-bg-hover: #282c49;
  --icon-color-open: var(--link-color);
  --main-shadow: rgba(63, 81, 181, 0.25) 0 4px 16px;
  --focus-shadow: inset 0 -40px 40px -40px var(--accent-color);
  --checkbox-bg: linear-gradient(180deg, #6268b5 0%, #3f51b5 50%, #2c3578 100%);
  --checkbox-checked-bg: linear-gradient(180deg, #7c84d6 0%, #3f51b5 50%, #283593 100%);
  --checkbox-check-circle: radial-gradient(circle at 35% 35%, #e6e8ff 0%, #c5cae9 40%, #9fa8da 100%);
  --checkbox-checked-circle: radial-gradient(circle at 40% 40%, #d6daff 0%, #9fa8da 40%, #283593 100%);
  --checkbox-disabled-bg: linear-gradient(180deg, #4a4d70 0%, #3c4065 50%, #2a2c42 100%);
  --checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #9195bf 0%, #7275a1 40%, #545781 100%);
}
