/**
 * @file
 * Module Matrix Dark.
 *
 * Filename:     module-matrix-dark-neutral.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
form#system-modules,
form#system-modules *,
form#system-modules-uninstall,
form#system-modules-uninstall * {
  --accent-color: #607d8b;
  --border-color: #4a5a5e;
  --background-color: #101313;
  --input-bg: #2e3336;
  --text-color: #d0d3d6;
  --link-color: #8aa1a8;
  --link-color-hover: #b0c4cc;
  --button-bg-hover: #3a464b;
  --button-bg: var(--accent-color);
  --button-color: var(--background-color);
  --button-color-hover: var(--text-color);
  --details-bg: #202425;
  --filter-bg: #181b1c;
  --package-bg: var(--details-bg);
  --package-color: var(--text-color);
  --package-bg-hover: #4d5b61;
  --icon-color-open: var(--link-color);
  --main-shadow: rgba(96, 125, 139, 0.25) 0 4px 16px;
  --focus-shadow: inset 0 -40px 40px -40px var(--accent-color);
  --checkbox-bg: linear-gradient(180deg, #738892 0%, #607d8b 50%, #4a5a5e 100%);
  --checkbox-checked-bg: linear-gradient(180deg, #99adb6 0%, #607d8b 50%, #37474f 100%);
  --checkbox-check-circle: radial-gradient(circle at 35% 35%, #e6e8ea 0%, #cfd8dc 40%, #90a4ae 100%);
  --checkbox-checked-circle: radial-gradient(circle at 40% 40%, #d6dce0 0%, #90a4ae 40%, #37474f 100%);
  --checkbox-disabled-bg: linear-gradient(180deg, #4e5f67 0%, #3f4f56 50%, #2e3a3f 100%);
  --checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #8fa3ab 0%, #738892 40%, #4a5a5e 100%);
}
