/**
 * @file
 * Module Matrix Light.
 *
 * Filename:     module-matrix-light.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
form#system-modules,
form#system-modules *,
form#system-modules-uninstall,
form#system-modules-uninstall * {
  --accent-color: #009688;
  --border-color: #d5fcfa;
  --background-color: #f7fffe;
  --input-bg: #ffffff;
  --text-color: #2c3e3c;
  --link-color: #009688;
  --link-color-hover: #00796b;
  --button-bg-hover: #d4f0ee;
  --button-bg: var(--accent-color);
  --button-color: var(--background-color);
  --button-color-hover: var(--text-color);
  --details-bg: #ffffff;
  --filter-bg: #e0f2f1;
  --package-bg: var(--details-bg);
  --package-color: var(--text-color);
  --package-bg-hover: #e0fcfa;
  --icon-color-open: var(--link-color);
  --main-shadow: rgba(0, 150, 136, 0.15) 0 4px 16px;
  --focus-shadow: inset 0 -40px 40px -40px var(--accent-color);
  --checkbox-bg: linear-gradient(180deg, #4db6ac 0%, #009688 50%, #00796b 100%);
  --checkbox-checked-bg: linear-gradient(180deg, #80cbc4 0%, #009688 50%, #00695c 100%);
  --checkbox-check-circle: radial-gradient(circle at 35% 35%, #ffffff 0%, #b2dfdb 40%, #80cbc4 100%);
  --checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffffff 0%, #80cbc4 40%, #00695c 100%);
  --checkbox-disabled-bg: linear-gradient(180deg, #b2dfdb 0%, #80cbc4 50%, #4db6ac 100%);
  --checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #e0f2f1 0%, #b2dfdb 40%, #80cbc4 100%);
}
