/**
 * @file
 * Module Matrix Dark.
 *
 * Filename:     module-matrix-dark-neutral.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
form#system-modules,
form#system-modules *,
form#system-modules-uninstall,
form#system-modules-uninstall * {
  --accent-color: #ffc107;
  --border-color: #5d4a14;
  --background-color: #11100d;
  --input-bg: #3a3226;
  --text-color: #f0e6d2;
  --link-color: #e6c77b;
  --link-color-hover: #ffdd88;
  --button-bg-hover: #5a4517;
  --button-bg: var(--accent-color);
  --button-color: var(--background-color);
  --button-color-hover: var(--text-color);
  --details-bg: #24221d;
  --filter-bg: #1d1a15;
  --package-bg: var(--details-bg);
  --package-color: var(--text-color);
  --package-bg-hover: #39352a;
  --icon-color-open: var(--link-color);
  --main-shadow: rgba(255, 193, 7, 0.25) 0 4px 16px;
  --focus-shadow: inset 0 -40px 40px -40px var(--accent-color);
  --checkbox-bg: linear-gradient(180deg, #a88e3b 0%, #8a6d1d 50%, #5a4517 100%);
  --checkbox-checked-bg: linear-gradient(180deg, #ffcc5c 0%, #d4a21e 50%, #8a6d1d 100%);
  --checkbox-check-circle: radial-gradient(circle at 35% 35%, #fef9e7 0%, #ffe0b2 40%, #ffcc80 100%);
  --checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffecb3 0%, #ffcc80 40%, #ff8f00 100%);
  --checkbox-disabled-bg: linear-gradient(180deg, #5a4a1d 0%, #443c1a 50%, #2e2a1a 100%);
  --checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #b39b5f 0%, #8a6d1d 40%, #5a4517 100%);
}
