/**
 * @file
 * Module Matrix Light.
 *
 * Filename:     module-matrix-light.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
form#system-modules,
form#system-modules *,
form#system-modules-uninstall,
form#system-modules-uninstall * {
  --accent-color: gray;
  --border-color: #d4d7d7;
  --background-color: #f5f6f6;
  --input-bg: #ffffff;
  --text-color: #5a5c5c;
  --link-color: #747777;
  --link-color-hover: #555;
  --button-bg-hover: #ffffff;
  --button-bg: var(--accent-color);
  --button-color: var(--background-color);
  --button-color-hover: var(--text-color);
  --details-bg: white;
  --filter-bg: #f0f0f0;
  --package-bg: var(--details-bg);
  --package-color: var(--text-bg);
  --package-bg-hover: #e6e6e6;
  --icon-color-open: var(--link-color);
  --main-shadow: rgba(0, 0, 0, 0.1) 0 4px 16px;
  --focus-shadow: inset 0 -40px 40px -40px var(--accent-color);
  --checkbox-bg: linear-gradient(180deg, #d1d1d1 0%, #a8a8a8 50%, #7f7f7f 100%);
  --checkbox-checked-bg: linear-gradient(180deg, #bebebe 0%, #8c8c8c 50%, #5f5f5f 100%);
  --checkbox-check-circle: radial-gradient(circle at 35% 35%, #ffffff 0%, #e6e6e6 40%, #bfbfbf 100%);
  --checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffffff 0%, #bfbfbf 40%, #5f5f5f 100%);
  --checkbox-disabled-bg: linear-gradient(180deg, #c0c0c0 0%, #9e9e9e 50%, #7c7c7c 100%);
  --checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #e3e3e3 0%, #c6c6c6 40%, #9f9f9f 100%);
}
