/**
 * @file
 * Module Matrix Light.
 *
 * Filename:     module-matrix-light.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com.
 */
form#system-modules,
form#system-modules *,
form#system-modules-uninstall,
form#system-modules-uninstall * {
  --accent-color: #607d8b;
  --border-color: #b3d2e0;
  --background-color: #f4f6f7;
  --input-bg: #ffffff;
  --text-color: #40484a;
  --link-color: #607d8b;
  --link-color-hover: #455a64;
  --button-bg-hover: #d9e2e6;
  --button-bg: var(--accent-color);
  --button-color: var(--background-color);
  --button-color-hover: var(--text-color);
  --details-bg: #ffffff;
  --filter-bg: #e8eef0;
  --package-bg: var(--details-bg);
  --package-color: var(--text-color);
  --package-bg-hover: #eaf5fa;
  --icon-color-open: var(--link-color);
  --main-shadow: rgba(96, 125, 139, 0.15) 0 4px 16px;
  --focus-shadow: inset 0 -40px 40px -40px var(--accent-color);
  --checkbox-bg: linear-gradient(180deg, #90a4ae 0%, #607d8b 50%, #455a64 100%);
  --checkbox-checked-bg: linear-gradient(180deg, #b0bec5 0%, #607d8b 50%, #37474f 100%);
  --checkbox-check-circle: radial-gradient(circle at 35% 35%, #ffffff 0%, #cfd8dc 40%, #90a4ae 100%);
  --checkbox-checked-circle: radial-gradient(circle at 40% 40%, #ffffff 0%, #90a4ae 40%, #37474f 100%);
  --checkbox-disabled-bg: linear-gradient(180deg, #cfd8dc 0%, #b0bec5 50%, #90a4ae 100%);
  --checkbox-disabled-circle: radial-gradient(circle at 40% 40%, #e3e8eb 0%, #c0c8cc 40%, #9da7ad 100%);
}
