img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.caption {
  margin: 0 0 50px 0;
  padding: 0;

  &.align-center {
    margin-bottom: 50px;
  }

  &.align-right {
    margin: 0 0 50px 30px;
  }

  &.align-left {
    margin: 0 30px 50px 0;
  }

  & > figcaption {
    position: relative;
    z-index: 10;
    top: 12px;
    display: inline;
    max-width: none;
    padding: 0;
    padding: 4px 20px 8px 10px;
    caption-side: bottom;
    color: var(--primary-dark);
    background-color: var(--primary-damped);
    box-decoration-break: clone;
    font-size: 18px;
  }
}
