<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal_module">
  <description>PHP CodeSniffer configuration for Drupal modules.</description>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,md,yml"/>
  <config name="drupal_core_version" value="9"/>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>

  <file>.</file>
  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>
</ruleset>
