@use 'conf' as *;

html {
  font-size: 16px;
}

body {
  @include primaryFont;
  color: #000;
}

/*-----------------------------------------------------------------------------
 *           Headers
 *---------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  @include primaryFont;
  color: #000;
  margin: 0;
  padding: 0.5em 0;
  font-weight: 800;

  a:hover {
    color: $buttonColor;
    font-weight: 800;
  }
}

h1 {
  font-size: pxtorem(40);
  @media #{$tablet} {
    font-size: pxtorem(32);
  }
}

h2 {
  font-size: pxtorem(36);
  @media #{$tablet} {
    font-size: pxtorem(28);
  }
}

h3 {
  font-size: pxtorem(32);
}

h4 {
  font-size: pxtorem(24);
}

h5 {
  border-bottom: 1px solid #000;
  font-size: pxtorem(22);
  font-weight: 700;
  margin-bottom: pxtorem(5);
}

h6 {
  font-size: pxtorem(18);
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

/*-----------------------------------------------------------------------------
 *           COMMONS
 *---------------------------------------------------------------------------*/

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clear {
  clear: both;
}

/*-----------------------------------------------------------------------------
 *           GENERIC TAGS
 *---------------------------------------------------------------------------*/
a {
  color: #000;
  font-weight: 600;
  transition: .3s all ease;
  &:hover {
    font-weight: 700;
  }
}

img {
  //border: 2px solid $border;
}

strong {
  font-weight: 800;
}

q,
cite {
  font-style: italic;
}

/* List */

ul, ol, dl {
  margin-left: 1.25em;
  padding: 0;
}

ul li {
  list-style: disc;
  font-size: pxtorem(14);
  @media #{$tablet} {
    font-size: pxtorem(14);
  }
}

ol li {
  list-style: decimal;
  font-size: pxtorem(14);
  @media #{$tablet} {
    font-size: pxtorem(14);
  }
}

dl {
  padding: 0.3em 0 0.6em;
}

dt {
  padding-bottom: 0.3em;
  text-decoration: underline;
}

p {
  font-size: pxtorem(14);
  margin: 0;
  padding-bottom: pxtorem(20);
  word-wrap: break-word;
  @media #{$tablet} {
    font-size: pxtorem(14);
  }

  &:empty {
    padding: 0;
  }
}

.field {
  padding: 0.3em 0;
}

hr {
  border-top: 1px solid $primaryColor;
}

blockquote {
  display: block;
  max-width: 992px;
  padding-bottom: pxtorem(15);
  padding-left: pxtorem(85);
  padding-top: pxtorem(90);
  position: relative;
  width: 100%;
  &:before {
    background: url('../img/quote_icon.svg') no-repeat center;
    background-size: contain;
    content: '';
    display: block;
    height: 140px;
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
  }

  p {
    font-size: pxtorem(16);
  }
}

/* Tables */
table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  border-style: hidden; 
  border-top: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
  margin-bottom: pxtorem(30);
  width: 100%;
}

table td,
table th {
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}

table tr th:last-child,
table tr td:last-child {
  border-right: none;
}

thead tr:first-child th:first-child {
  border-top-left-radius: 20px;
}


thead tr:first-child th:last-child {
  border-top-right-radius: 20px;
}

/* Redondeo en la última fila si no hay <tfoot> */
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.table > thead > tr > th {
  border-bottom: 2px solid #666;
}

.views-field-views-send {
  text-align: center;
}

.view .item-list li {
  @include clearfix();
  list-style: none;
  margin: 0 0 0.25em 0;
}

td,
th,
caption {
  color: #000;
  font-size: pxtorem(14);
  padding: pxtorem(10) pxtorem(20);
}

caption {
  background: $fourthColor;
  border-bottom: 3px solid $thirdColor;
  color: $primaryColor;
}

th {
  background: #F5F5F5;
  color: #000;
}

tr.even, tr.odd {
  background: #fff;
}

/*-----------------------------------------------------------------------------
 *           Form
 *---------------------------------------------------------------------------*/

fieldset {
  border: 1px solid $primaryColor;
  padding: pxtorem(10);
}

details {
  border-color: $border;
  border-radius: pxtorem(4);
  -webkit-border-radius: pxtorem(4);
  -moz-border-radius: pxtorem(4);
  -ms-border-radius: pxtorem(4);
  -o-border-radius: pxtorem(4);
  border-width: 2px;
}

/* MORE LINK */
.more-link a {
  border: 2px solid $border;
  padding: 0.3em 0.6em;
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto 1.250em;
}

/*-----------------------------------------------------------------------------
 *           Status Message
 *---------------------------------------------------------------------------*/
.messages--status {
  .placeholder {
    background-color: transparent;
  }
}


/*-----------------------------------------------------------------------------
 *           Branding
 *---------------------------------------------------------------------------*/
.block-system-branding-block {
  img {
    max-width: pxtorem(200);
  }
}

ul.toolbar-menu li {
  font-size: pxtorem(13);
}

.placeholder {
  background-color: transparent;
}
