@use 'conf' as *;


#search-block-form {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1320px;

  @media #{$large} {
    padding: 0;
  }
}

.search-block-form {
  display: flex;
  align-items: center;
  form {
    display: flex;
    margin: 0;
  }

  .icon--search {
    display: none;
  }
}

.region-header,
.region-navigation {
  .search-block-form {
    position: initial;
    form {
      display: flex;
      margin: 0;

      .form-type-search {
        width: 100%;
      }

      .form-actions {
        margin-left: 20px;
      }
    }

    .icon--search {
      cursor: pointer;
      display: block;
      font-size: 22px;
      padding: 0 25px;

      @media #{$large} {
        display: none;
      }
    }

    .search-block--content {
      background: #FFF;
      display: none;
      left: 0;
      top: 100%;
      padding: pxtorem(20);
      position: absolute;
      width: 100%;
      z-index: 1;

      @media #{$large} {
        display: block;
        padding-left: 0;
        padding-right: 0;
        position: relative;

        .form-type-search {
          margin: 0;
          padding: 0;
        }
      }

      &.search-active {
        display: block;
      }
    }
  }
}

.form-actions {
  margin: pxtorem(30) 0;

  input {
    display: inline-block;
  }
}

form {
  clear: both;
  display: block;
  margin: 1.25em 0;

  label {
    font-size: pxtorem(16);
    color: $primaryColor;
    display: block;
    font-weight: normal;
    padding-bottom: 0.3em;
  }

  label.error {
    font-weight: normal;
    padding-top: 0.18em;
  }

  #ajax-wrapper {
    width: 50%;
    @media #{$tablet} {
      width: 100%;
    }
  }
}

.form-item {
  margin: 0 0 pxtorem(25);
  &.form-wrapper {
    border-bottom: 1px solid #000;
    margin-bottom: pxtorem(30);
    padding-bottom: pxtorem(5);
  }

  p {
    color: #000;
    font-size: pxtorem(14);
  }

  &.form-no-label {
    color: #000;
    padding: 0 pxtorem(15); 

    @media #{$large} {
      padding-left: 0;
    }
  }

  &.form-type-webform-markup {
    padding: 0;

    & > p:last-child {
      padding-bottom: 0;
    }
  }
}

.form-type-item {
  font-size: pxtorem(14);
}

.form-type-radio,
.form-type-checkbox {
  margin: 0.938em 0;
}

[type=search],
[type="search"] {
  outline-offset: 0;
}

input.form-checkbox,
input.form-radio {
  display: inline;
  margin-right: 0.3em;
  width: auto;
}

.form-item .description {
  padding-top: 0.3em;
}

input.error,
textarea.error {
  border: 1px solid #AB0000;
}

.form-required {
  color: red;
  padding-right: 0.3em;
}

[type=button]:not(:disabled), 
[type=reset]:not(:disabled), 
[type=submit]:not(:disabled), 
button:not(:disabled),
.form-submit {
  background-color: $buttonColor;
  border: 1px solid $buttonColor;
  border-radius: 20px;
  color: #FFF;
  padding: pxtorem(8) pxtorem(30);
  transition: all .5s ease;
  width: auto;
  &:hover {
    background-color: #000;
    border: 1px solid #000;
    font-weight: 700;
  }
}

.contextual-region .contextual button.trigger {
  background-color: transparent;
  border: 1px solid #ccc;
  &:hover {
    border: 1px solid #ccc;
  }
}

.contextual {
  button {
    padding: 0 !important;
    transition: none !important;
    &:hover {
      padding: 0 !important;
      transition: none !important;
    }
  }
}

.grippie {
  display: none;
}

form.contact-form,
.webform-submission-form {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 pxtorem(15);
}

.castorcito--field-webform {
  .webform-submission-form {
    padding: 0;
  }
}

input, 
.form-text, 
.form-select {
  border-radius: 40px;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  padding: 8px 14px;
  width: 100%;
}

label.option {
  font-size: pxtorem(14);
}

.form-textarea {
  border-radius: 20px;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  padding: 8px 14px;
}

.form-type-search {
  width: 100%;

  input {
    width: 100%;
  }
}

form label {
  color: #000;
  font-size: pxtorem(16);
  font-weight: 700;

  &.form-required {
    color: #000;
  }
}

fieldset {
  border: none;
  padding: 0;

  legend {
    color: #000;
    font-size: pxtorem(22);
    font-weight: 700; 
  }
}

.fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 pxtorem(-15);

  & > .form-item {
    padding: 0 pxtorem(15);
    width: 50%;

    @media #{$tablet} {
      width: 100%;
    }

    &.form-type-checkbox {
      width: 100%;
    }

    &.form-type-textarea {
      width: 100%;
    }

  }

  .form-type-webform-markup {
    padding: 0 pxtorem(15);
  }
}

.user-pass,
.user-login-form {
  margin: 0 auto;
  padding: 0 pxtorem(15);
  max-width: 1320px;

  .description {
    font-size: pxtorem(16);
  }
}

.g-recaptcha {
  margin-bottom: pxtorem(25);
}

.path-user {
  .layout-container {
    & > .container {
      @media #{$tablet} {
        max-width: none;
      }
    }
  }

  .user-pass,
  .user-login-form {
    max-width: 1320px;
    padding: 0 40% 0 pxtorem(15);

    @media #{$tablet} {
      padding: 0 pxtorem(15);
    }
  }

  &.user-logged-in {
    .block-page-title-block {
      max-width: 1320px;
      padding: 0;
    }
  }
}

nav.pager,
.path-search .block-system-main-block .item-list,
.path-search .block-system-main-block > h2,
form.search-form {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 pxtorem(15);
}

.path-search .block-system-main-block .item-list {
  margin: 0 auto pxtorem(80);
}


form.search-form {
  .fieldset-wrapper {
    margin: 0;
  }
}

.search-advanced {
  margin-bottom: pxtorem(80);
}

.search-results {
  margin: 0 0 pxtorem(40);

  & > li {
    border-bottom: 1px solid #000;
    display: block;
    margin: 0;
    padding: pxtorem(10) 0;
  }

  p {
    color: #000;
  }

  .search-result__info {
    a {
      font-weight: 700;
    }
  }
}

.search-result__title {
  font-size: pxtorem(24);

  a {
    text-decoration: none;
  }
}

.pager {
  .pager__items {
    margin: 0 0 pxtorem(60);

    a {
      background: $buttonColor;
      border-radius: 20px;
      color: #FFF;
      display: block;
      min-width: 34px;
      padding: pxtorem(8) pxtorem(5);
      text-align: center;
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        background: #000;
        color: #FFF;
      }
    }

    .is-active {
      a {
        background: #000;
        color: #FFF;
      }
    }
  }  

  .pager__item {
    display: inline-block;

    &.pager__item--first,
    &.pager__item--last,
    &.pager__item--previous,
    &.pager__item--next {
      a {
        background: none;
        color: $buttonColor;
        &:hover {
          color: #000;
        }
      } 
    }
  }
}

/* NODE PREVIEW */
.node-preview-container {
  background: #0678be;
  bottom: 0;
  color: #FFF;
  a {
    color: #FFF;
    font-size: pxtorem(16);
    text-decoration: none;
  }

  form {
    align-items: center;
    display: flex;
    margin: 0; 
    @media #{$phone} {
      align-items: start;
      flex-direction: column;
    }

    .form-item {
      margin: 0;
      @media #{$phone} {
        padding-top: pxtorem(5);
      }

      label {
        color: #FFF;
        font-weight: 400;
        font-size: pxtorem(16);
        padding: 0;
        width: 100%;
      }
    }

    .form-type-select {
      align-items: center;
      display: flex;
      margin-left: auto; 
      max-width: 300px;
      width: 100%;
      @media #{$phone} {
        max-width: none;
        align-items: start;
        flex-direction: column;
      }
    }
  }
}

.ui-widget.ui-widget-content {
  &.ui-dialog {
    max-width: 767px;
    width: 100% !important;

    button.ui-dialog-titlebar-close {
      background: url('../img/plus_icon.svg') no-repeat center; 
      background-size: contain;
      border: none;
      height: 30px;
      filter: opacity(0.5);
      right: 16px;
      padding: 0;
      transform: rotate(45deg);
      width: 30px;

      &:hover {
        filter: opacity(1);
      }
    }
  }
}
