@use 'conf' as *;
/*-----------------------------------------------------------------------------
 *           REGIONS
 *---------------------------------------------------------------------------*/
.region--title {
  border: 2px solid $border;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  color: $primaryColor;
  cursor: pointer;
  margin: 0;
  padding: 0.625em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background: $secondaryColor;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
}

.inner-header--wrapper {
  box-shadow: 0 0 5px 0 #656565;
  padding-top: pxtorem(12);
  padding-bottom: pxtorem(12);
  position: relative;
  margin-bottom: 0;
  transition: all 0.4s ease-in-out;

  .region-header {
    margin-right: auto;
  }

  .container {
    display: flex;
    align-items: center;

    @media #{$fullMaxLarge} {
      max-width: none !important;
    }
  }

}

.mockup-fixed-region {
  transition: all 0.4s ease-in-out;
  &.mockup-fixed-region-is-active {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 700;
    background: $white;
  }
}

.path-user {
  .mockup-fixed-region {
    &.mockup-fixed-region-is-active {
      position: relative;
    }
  }
}

.region-header-top {
  background: #000;
  color: #FFF;
  padding-top: pxtorem(10);
  padding-bottom: pxtorem(10);
  font-size: pxtorem(12);

  & > .container-fluid {
    align-items: center;
    display: flex;
  }

  .form-item {
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: $white;

    &.is-active {
      text-decoration: underline;
    }
  }

  @media #{$tablet} {
    display: none;
  }

  ul {
    margin: 0;
  }
  .menu--main .menu-item a, 
  .menu--main .menu-item span, 
  .menu--main .menu-item button {

    &:hover {
      color: #afb8c3;
    }
  }

  .mockupblock {
    h2 {
      font-size: pxtorem(20);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: #FFF;
  }
}

.region-top-bar {
  background-color: $text;
  color: $white;
  position: sticky;
  display: none;
  top: 0;
  z-index: 2;
  border-bottom: 4px solid $primaryColor;
  padding-top: pxtorem(18);
  padding-bottom: pxtorem(12);
  padding-left: pxtorem(15);
  padding-right: pxtorem(15);
  margin-bottom: pxtorem(15);
  transition: all 0.4s ease-in-out;

  &.region-top-bar-is-active {
    background-color: $white;
  }


  @media #{$tablet} {
    display: block;
    padding-top: pxtorem(12);
  }
}

.region-header-bottom {
  @media #{$tablet} {
    display: none;
  }
}

/*-----------------------------------------------------------------------------
 *          HERO 
 *---------------------------------------------------------------------------*/
.region-hero {
  .mockupblock {
    max-width: none;
  }

  .container-fluid {
    padding: 0;
  }
} 

/*-----------------------------------------------------------------------------
 *           SIDEBAR
 *---------------------------------------------------------------------------*/
.sidebar {
  a {
    display: block;
  }

  .views-row {
    margin-bottom: 0.625em;
    padding-bottom: 0.3em;
  }

  ul {
    margin-left: 0;
  }

  h3 {
    padding: 0.625em 0;
  }
}

/*-----------------------------------------------------------------------------
 *           FOOTER
 *---------------------------------------------------------------------------*/
.main-footer--wrapper {
  background: #000;
  color: #FFF;

  @media #{$fullMaxLarge} {
    .container {
      max-width: none !important;
    }
  }

  .d-flex {
    @media #{$phone} {
      display: block !important;
      text-align: left;
    }
  }

  .menu--main .menu-item a, 
  .menu--main .menu-item span, 
  .menu--main .menu-item button {
    color: #FFF;
  }

  a,
  h1, h2, h3, h4, h5, h6 {
    color: #FFF;
  }

  .block-system-branding-block {
    max-width: 350px;
    img {
      width: 65px;
    }
  }
}

.main-footer {
  background: #000;
  margin-left: auto;
  padding: pxtorem(40) 0;
  color: #FFF;

  .d-flex {
    align-items: center;

    & > .block {
      padding: 0 5px; 
    }
  }

  @media #{$large} {
    .d-flex {
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    .menu--main {
      padding: pxtorem(30) 0;
      text-align: center;
    }

    .block-system-branding-block {
      margin: 0 auto;
    }
  }

  @media #{$phone} {
    .menu--main .menu {
      display: block;
      text-align: center;

      .menu-item a {
        font-size: pxtorem(14);
        padding: pxtorem(10) 0;
      }
    }
  }

  a,
  ul.menu a {
    color: #FFF;

    &:hover,
    &.is-active {
      color: #FFF;
      opacity: .5;
    }
  }

  .block-system-branding-block img {
    filter: invert(1);
  }

  h4 {
    font-size: pxtorem(18);
  }

  ul {
    margin: 0;
  }

  li {
    list-style: none;
  }

  .views-row {
    margin-bottom: 0.625em;
  }

}

.region-content-above {
  padding-bottom: pxtorem(30);
}

.region-content-above,
.region-content-below {
  margin: 0 auto;
  max-width: 1320px;
}

.region-footer-top {
  padding-bottom: pxtorem(30);
  padding-top: pxtorem(30);
}

.region-footer-bottom {
  border-top: 1px solid $buttonColor;
  padding: pxtorem(20) 0;

  & > .d-flex {
    align-items: center;
    justify-content: start;
  }

  .mockupblock {
    margin: 0 pxtorem(15) 0 0;
    max-width: none; 

    .wp-share-button .whatsapp-link {
      vertical-align: top;
    }

    p:last-child {
      padding: 0;
    }
  }
}

.block-system-powered-by-block {
  font-size: pxtorem(12);
}

.region-highlighted {
  .container-fluid {
    padding: 0;
  }
}

.error-page {
  display: flex;
  flex-wrap: wrap;
  padding: pxtorem(40) 0;

  .error-page--data {
    padding-right: pxtorem(100);
    width: 50%;
    
    @media #{$tablet} {
      padding: 0;
      width: 100%;
    }
  }

  .error-page--img {
    width: 50%;
    
    @media #{$tablet} {
      display: none;
    }
  }

  img {
    margin: pxtorem(60) 0;
    max-width: 600px;
    width: 100%;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-footer,
  .main-footer--wrapper {
    margin-top: auto;
  }
}

.error-page--data {
  .btn {
    background: $buttonColor;
    border: 1px solid $buttonColor;
    border-radius: 20px;
    color: #FFF;
    padding: pxtorem(8) pxtorem(30);
    transition: all .5s ease;
    width: auto;
    &:hover {
      background: #000;
      border: 1px solid #000;
      font-weight: 700;
    }
  }
}

aside {
  padding: pxtorem(20) pxtorem(10);
  &.layout-sidebar-first {
    background: #F3F3F3;
  }
  &.layout-sidebar-second {
    background: #F3F3F3;
  }

  nav.block,
  .mockupblock {
    margin-bottom: pxtorem(30);
  }

  .block nav {
    a {
      font-size: pxtorem(15);
      display: block;
      line-height: 1.5;
      padding: 2px 0;
      text-decoration: none;

      &.is-active,
      &:hover {
        color: #9f9f9f;
      }
    }
  }
}

.castorcito-component--even {}
.castorcito-component--odd {
  background: #f5f5f5;
}
.castorcito-component--even ,
.castorcito-component--odd {
  &.field__item {
    padding-top: pxtorem(40) !important; 
    padding-bottom: pxtorem(40) !important; 
    .basepack-banner--wrapper {
      margin-top: pxtorem(-40); 
      margin-bottom: pxtorem(-40); 
    }
  }
} 

.node .node__content > .field.field__item {
  margin: 0 auto;
  max-width: 1320px;
  padding: pxtorem(40) pxtorem(15);

  &.field--type-json-native {
    padding: 0;
  }
}

article.profile {
  padding: pxtorem(30) 0;
  margin: 0 auto;
  max-width: 1320px;
}
