@use 'conf' as *;
/* SITEBRANDING BLOCK */
.block-system-branding-block {
  display: flex;
  margin-left: 0 !important;
  margin-right: auto;

  img {
    height: auto;
    max-height: 75px;
    width: 100%;
  }

  .site-name {
    align-items: center;
    display: flex;
  }

  a {
    text-decoration: none;
  }

  .site-name a,
  span.site-name {
    color: $buttonColor;
    font-size: 24px;
    font-weight: 800;
    padding-left: pxtorem(20);
    text-decoration: none;
  }
}

.breadcrumb {
  margin: pxtorem(30) 0;
  a {
    font-weight: 500;
    text-decoration: none;

    &:hover {
      font-weight: 700;
    }
  }
}

.cart-empty-page,
.cart.cart-form,
.commerce-checkout-flow {
  padding: 0 12px;

  .layout-region {
    padding-bottom: 20px;
  }
}

.cart-empty-page,
.cart.cart-form,
.commerce-checkout-flow,
.mockup-container,
.mockup-product,
.mockupblock {
  margin: 0 auto;
  max-width: 1320px;

  .basepack-banner--wrapper {
    .castorcito-basepack--inner {
      padding: 0;
    }
  }
}

.region.region-content {
  .mockupblock {
    max-width: none;
  }

  & > .container-fluid > .mockupblock {
    margin: 0 auto;
    max-width: 1320px;

    .views-field-title a {
      font-size: pxtorem(20);
      font-weight: 700;
      &:hover {
        color: #9F9F9F;
      }
    }

    &.block-system-main-block {
      max-width: none;
    }
  }
}

main {
  .wrapper-wsidebar {
    margin: 0 auto;
    max-width: 1320px;
  }
}

.node {
  footer {
    font-size: pxtorem(14);
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 pxtorem(15);
  }

  .node__content {
    .field {
      &.field--type-entity-reference,
      &.field__items,
      & > .field__items,
      & > .field__item,
      & > .field__label {
        margin: 0 auto;
        max-width: 1320px;
        padding: 0 pxtorem(15);
      }

      &.field--type-entity-reference {
        padding: 0;
      }

      &.text-formatted {
        padding-bottom: 0;
      }

      &.field--type-json-native.field__items,
      &.field--type-json-native > .field__items {
        max-width: none;
        padding: 0;
      }
      
      & > .field__items,
      & > .field__item {
        &.castorcito-component--odd,
        &.castorcito-component--even {
          max-width: none;
          padding: 0;
        }
      }
    }
  }
}

article.node {
  padding-bottom: pxtorem(40);
}

.block-local-tasks-block {
  ul.tabs {
    margin: 0;
    padding: pxtorem(30) 0;
  }
}

.webform-confirmation,
.view-taxonomy-term,
.comment-wrapper,
.node__links,
.view-frontpage {
  margin: 0 auto;
  padding: 0 pxtorem(15);
  max-width: 1320px;

  .node__links,
  .node .node__content .field.field__item, 
  .node .node__content .field > .field__items, 
  .node .node__content .field > .field__item, 
  .node .node__content .field > .field__label,
  .node footer {
    padding: 0;
  }

  ul.inline li {
    padding-left: 0;
    display: inline-block;
    @media #{$phone} {
      padding-bottom: pxtorem(8);
    }
  }
}

.webform-confirmation {
  p {
    padding: pxtorem(20) 0;
  }
}

.view-taxonomy-term {
  padding: pxtorem(15);

  .node {
    border-bottom: 1px solid #000;
    margin-bottom: pxtorem(15);
    //max-width: 555px;
    padding-bottom: pxtorem(15);

    h2 {
      font-size: pxtorem(24);
      font-weight: 700;
      padding-top: 0;

      a {
        text-decoration: none;

        &:hover {
          font-weight: 700;
        }
      }
    }

    .node__links,
    .node__content .field > .field__label,
    .node__content .field > .field__item,
    .node__content .field > .field__items,
    footer {
      padding: 0;
    }

    footer {
      font-size: pxtorem(14);
    }
  }

  .links.inline {
    li {
      display: inline-block;
      padding-left: 0;
    }
  }

  p,
  ul li,
  ol li {
    font-size: pxtorem(14);
  }
}

.field--type-entity-reference {
  .field__item {
    display: inline-block;

    &:after {
      content: ',';
    }

    &:last-child:after {
      content: '';
    }

    a {
      font-weight: 700;

      &:hover {
       color: $buttonColor;
      }
    }
  }
}

.node__links {
  & > .links {
    display: block !important;
    margin: 0;
    padding: pxtorem(20) 0;

    a {
      background: $buttonColor;
      border: 1px solid $buttonColor;
      border-radius: 40px;
      color: #FFF;
      display: inline-block;
      padding: pxtorem(8) pxtorem(30);
      text-decoration: none;
      transition: all .5s ease;
      width: auto;
      &:hover {
        background: #000;
        border: 1px solid #000;
      }

      &.hidden {
        display: none;
      }
    }
  }
}

.comment__meta {
  p {
    font-size: pxtorem(14);
  }
}

article.comment {
  border-bottom: 1px solid #000;
  margin-bottom: pxtorem(15);
  padding-bottom: pxtorem(15);

  h2 {
    font-size: pxtorem(24);
    font-weight: 700;
    padding-top: 0;

    a {
      text-decoration: none;

      &:hover {
        font-weight: 700;
      }
    }
  }

  .field.field__item,
  footer {
    padding: 0 !important;
  }

  footer {
    font-size: pxtorem(14);
  }

  ul.links {
    margin: 0;

    li {
      padding-left: 0;
    }
  }

  ul.inline a, 
  ul.links.inline a {
    background: $buttonColor; 
    border-radius: 20px;
    color: #FFF;
    display: inline-block;
    font-size: pxtorem(14);
    padding: pxtorem(8) pxtorem(20);
    transition: all .5s ease;
    text-decoration: none;
    text-shadow: none;

    &:hover {
      background: #000;
    }
  }
}

.block-node-syndicate-block {
  margin: 0;
  max-width: none;
  padding: 10px 0;
}

.f-button {
  background: none !important;
  border: none !important;
}

.region.region-content {
  .block-system-breadcrumb-block {
    margin: 0 auto;
    max-width: 1320px; 
    padding: 0 pxtorem(15);
    width: 100%;
  }
}

/* BLOG */
.view-mockup--list-items,
.view-display-id-news,
.view-display-id-related_news,
.view-display-id-blog_listing {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .views-row {
      padding: 0 15px 15px; 
      width: 33.3333%;

      @media #{$tablet} {
        width: 50%;
      }

      @media #{$phone} {
        width: 100%;
      }

      img {
        width: 100%;
      }

      a {
        display: block;
        overflow: hidden;
        img {
          transition: .3s all ease;
        }

        &:hover {
          img {
            transform: scale(1.15);
          }
        }
      }

      h3 {
        font-size: pxtorem(22);
        margin: 0;
      }
    }
  }
}

.view-taxonomy-term {
  .node--view-mode-lists-term .node__content {
    display: flex;

    .field--type-image {
      padding-right: pxtorem(10) !important;
    }
  }
}

.wp-share-button {
  .whatsapp-link {
    background: url(../img/wsp_icon.svg) no-repeat center;
    background-size: cover;
    display: inline-block;
    font-size: 0;
    height: 50px;
    width: 50px;

    &:hover {
      filter: brightness(0.75);
    }

    &.desktop--whatsapp-link {
      @media #{$tablet} {
        display: none;
      }
    }

    &.responsive--whatsapp-link {
      display: none;
      @media #{$tablet} {
        display: block;
      }
    }
  }
}

.views-view-responsive-grid {
  padding: pxtorem(30) 0;
  .views-view-responsive-grid__item {
    padding: pxtorem(10);

    img {
      width: 100%;
    }
  }
}

/** COMMERCE SECTION **/
.mockup-product {
  padding: 0 pxtorem(12);
  
  & > .field {
    padding: pxtorem(10) 0;
  }
}

.layout-region,
.checkout-pane {
  .fieldset-wrapper {
    margin: 0;

    & > .form-item {
      background: #EAEAEA;
      border: none;
      padding: 15px;
      width: 50%;
    }
  }
}

.cart--cart-block {
  a {
    text-decoration: none;
  }

  img {
    filter: invert(1);
  }

  table {
    border-radius: 10px;
    margin-bottom: 0;
  }

  table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }


  td, th, caption {
    font-size: 12px;
    padding: 6px;
  }

  .cart-block--contents {
    box-shadow: 0 0 5px 0 #656565;

    .cart-block--contents__links {
      text-align: right;
      a {
        background-color: $buttonColor;
        border: 1px solid $buttonColor;
        border-radius: 20px;
        color: #FFF;
        display: inline-block;
        padding: pxtorem(8) pxtorem(30);
        transition: all .5s ease;
        font-weight: 400;
        width: auto;

        &:hover {
          background-color: #000;
          border: 1px solid #000;
          font-weight: 700;
        }
      }
    }
  }
}

.cart-empty-page {
  padding: 0 pxtorem(12) pxtorem(40);
}

.cart--cart-block .cart-block--contents__items {
  margin-bottom: pxtorem(15);
  overflow-y: auto;
}
