{#
/**
 * @file
 * Template for the main page.
 */
#}
{% set distraction_free = distraction_free ?: false %}

{% set classes = [
  'page',
] %}

{% set main_classes = [
  'content',
]|merge(main_extra_classes ?: []) %}

<div {{ attributes.addClass(classes) }}>
 {% if not distraction_free %}
    {% block header %}
      {% embed 'artisan:header' with {
        top: header.top,
        content: header|without('top'),
        extra_classes: header_extra_classes,
      } only %}
      {% endembed %}
    {% endblock %}
  {% endif %}

  <main class="{{ main_classes|join(' ') }}" id="main-content">
    {% block main_content %}
      {{ main_content }}
    {% endblock %}
  </main>

  {% if not distraction_free %}
    {% block footer %}
      {% embed 'artisan:footer' with {
        top: footer.top,
        content: footer.bottom,
        extra_classes: footer_extra_classes,
      } only %}
      {% endembed %}
    {% endblock %}
  {% endif %}
</div>
