.ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper {
  text-align: center;
}
@media (min-width: 1000px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1000px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item {
    width: 33%;
  }
}
.ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item {
    margin-bottom: -11px;
  }
}
@media (min-width: 1000px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item {
    border-bottom: 0;
    border-right: 1px solid #f1f1f1;
    border-radius: 10px;
    margin-bottom: -11px;
    word-wrap: break-word;
  }
}
.ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-number {
  font-size: 38px;
  line-height: 44px;
  color: #ba0c2f;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 24px;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-number {
    font-size: 60px;
    line-height: 64px;
  }
}
@media (min-width: 1000px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-number {
    padding: 32px 0 20px 0;
    word-wrap: break-word;
    width: 100%;
  }
}
.ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-image {
  display: none;
}
.ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-text {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 17px;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 768px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1000px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-text {
    line-height: 24px;
    padding: 0 15px 22px;
    width: 100%;
    word-wrap: break-word;
  }
}
.ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-link {
  font-family: "Arial", sans-serif;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}
.ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-link a {
  text-decoration: none;
}
@media (min-width: 1000px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item .paragraph--type--ept-stats-item .field--name-field-ept-stats-item-link {
    width: 100%;
  }
}
.ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item:last-child .paragraph--type--ept-stats-item {
  border-bottom: 0px;
}
@media (min-width: 1000px) {
  .ept-stats-stats_with_vertical_dividers .ept-container .ept-stats-wrapper .field__item:last-child .paragraph--type--ept-stats-item {
    border-right: 0px;
    padding-right: 0;
  }
}