.field--name-field-gallery {

    padding-top: 40px;

    @media (min-width: $screen-sm-min) {
        column-count: 2;
        column-gap: 10px;
    }

    @media (min-width: $screen-md-min) {
        column-count: 3;
    }

    @media (min-width: $screen-lg-min) {
        column-count: 4;
    }

    .field__item {
        margin-bottom: 10px;
    }

    .field__item:hover {
        img {
            filter: brightness(75%);
        }
    }

}
