.field--name-field-date {
    background: url("../images/calendar.svg") no-repeat 0 40%;
    background-size: 20px 20px;
    padding-left: 30px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 12px;
    font-size: 16px;  
}
