.flipdown {
  width: 580px;
}

.ept-paragraph-countdown.light h2 {
  color: #fff;
}
.ept-paragraph-countdown.light .countdown-header {
  color: #fff;
}
.ept-paragraph-countdown.light .countdown-header .text-content,
.ept-paragraph-countdown.light .countdown-header .cke_editable {
  color: #fff;
}