.ept-slick-slider.basic-styles {
  position: relative;
}

.ept-slick-slider.basic-styles .slick-slider {
  padding-bottom: 30px;
}

.ept-slick-slider.basic-styles .slick-prev {
  position: absolute;
  left: 40px;
  top: 50%;
  margin-top: -45px;
  z-index: 10;
  border: none;
  background: none;
}

.ept-slick-slider.basic-styles .slick-prev:before {
  content: '←';
  font-family: 'slick';
  font-size: 35px;
  line-height: 1;
  opacity: .75;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ept-slick-slider.basic-styles .slick-next {
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -45px;
  z-index: 10;
}

.ept-slick-slider.basic-styles .slick-next:before {
  content: '→';
  font-family: 'slick';
  font-size: 35px;
  line-height: 1;
  opacity: .75;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ept-slick-slider.basic-styles .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  bottom: 15px;
}

.ept-slick-slider.basic-styles .slick-dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.ept-slick-slider.basic-styles .slick-dots li button {
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #000;
  display: inline-block;
  background: #fff;
  text-indent: -9999px !important;
  color: transparent;
  cursor: pointer;
}

.ept-slick-slider.basic-styles .slick-dots li.slick-active button {
  background: #000;
}

.ept-slick-slider.basic-styles .slider-description {
  max-width: 960px;
  margin: 0 auto;
}

.ept-slick-slider.basic-styles .field--name-field-ept-slick-slider-text {
  clear: both;
  text-align: center;
}

.ept-slick-slider.basic-styles .slick-slide {
  margin-left: 10px;
  margin-right: 10px;
}
