.cache-pilot-fragmentation-bar {
  display: flex;
  flex-direction: column;
  gap: var(--space-s, 0.5rem);
  margin: 0;
}

.cache-pilot-fragmentation-bar__indicator {
  display: flex;
  overflow: hidden;
  border-radius: var(--progress-bar-default-size-radius, 1.5rem);
}

.cache-pilot-fragmentation-bar__fragment {
  width: var(--fragment-percentage, 0%);
  height: var(--progress-bar-default-size, 1.5rem);
  background: var(--fragment-background-color);
}

.cache-pilot-fragmentation-bar__fragment:not(:first-child) {
  margin-left: 0.125rem;
}

.cache-pilot-fragmentation-bar__color {
  width: 1rem;
  height: 1rem;
  border-radius: var(--progress-bar-default-size-radius, 1.5rem);
  background: var(--fragment-background-color);
}

.cache-pilot-fragmentation-bar__label {
  display: flex;
  align-items: center;
  gap: var(--space-xs, 0.25rem);
  font-size: var(--font-size-label, 0.889rem);
}
