.ept-basic-button {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

  .ept-basic-button-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  &.ept-align-left .ept-container {
    text-align: left;
  }

  &.ept-align-center .ept-container {
    text-align: center;
  }

  &.ept-align-right .ept-container {
    text-align: right;
  }

  &.ept-shape-square .ept-container .ept-basic-button {
    border-radius: 0;
  }

  &.ept-shape-round .ept-container .ept-basic-button {
    border-radius: 5px;
  }

  &.ept-shape-circle .ept-container .ept-basic-button {
    border-radius: 4em;
  }

  &.ept-size-small .ept-container .ept-basic-button {
    font-size: 13px;
    padding: 10px 30px;
  }

  &.ept-size-medium .ept-container .ept-basic-button {
    font-size: 16px;
    padding: 15px 43px;
  }

  &.ept-size-large .ept-container .ept-basic-button {
    font-size: 21px;
    padding: 20px 56px;
  }

  &.ept-stretched .ept-container {
    .ept-basic-button-wrapper {
      width: 100%;
    }

    .ept-basic-button {
      width: 100%;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
    }
  }
}

.ept-button2-wrapper {
  .ept-basic-button2-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    .ept-basic-button2 {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
    }
  }

  &.ept-align-left {
    text-align: left;
  }

  &.ept-align-center {
    text-align: center;
  }

  &.ept-align-right {
    text-align: right;
  }

  &.ept-shape-square .ept-basic-button2 {
    border-radius: 0;
  }

  &.ept-shape-round .ept-basic-button2 {
    border-radius: 5px;
  }

  &.ept-shape-circle .ept-basic-button2 {
    border-radius: 4em;
  }

  &.ept-size-small .ept-basic-button2 {
    font-size: 13px;
    padding: 10px 30px;
  }

  &.ept-size-medium .ept-basic-button2 {
    font-size: 16px;
    padding: 15px 43px;
  }

  &.ept-size-large .ept-basic-button2 {
    font-size: 21px;
    padding: 20px 56px;
  }

  &.ept-stretched {
    .ept-basic-button2-wrapper {
      width: 100%;
    }

    .ept-basic-button2 {
      width: 100%;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
    }
  }
}

